body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
}

.swiper-slide {
/*    background-position: center;
    background-size: cover;*/


}

.header{
    width: 100%;
    max-width: 640px;
    height: auto;
    margin: 0 auto!important;
    position: relative;
}
.h_top{
    width: 100%;
    height: auto;
}
.h_lbbox{
    width: 100%;
    height: auto;
    position: absolute;
    top: 31%;
    left: 0;
}
.btns{
    position: absolute;
    left: 70%;
    top: 106%;
    width: 25%;
    height: 7%;
    z-index: 999999;
}
.swiper-container .swiper-wrapper{
    width: 60%;
    height: auto;
}
.swiper-container .swiper-wrapper img{
    width: 100%;
    height: auto;
}
.part-3{
    width: 100%;
    height: auto;
   /* background: url(../images/bg_3.jpg);
    background-size: 100% 100%;
    text-align: center;
    padding-top: 2.22222222rem;*/
    margin-top: 40px;
    position: relative;
}
.part-3>.bj{
    width: 100%;
    margin-top: 20px;
}
.btbox{
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 16.5%;
}
.btbox img{
    width: 94%;
    height: auto;
    margin-left: 3%;
    margin-top: 4%;
}
