@charset "utf-8";
/* CSS Document */

/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
  padding: 0;
  margin: 0;
}
a{
  text-decoration:none;
}
table {
  border-spacing: 0;
}
fieldset,img {
  border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-weight: normal;
  font-style: normal;
}
strong{
  font-weight: bold;
}
ol,ul {
  list-style: none;
  margin:0;
  padding:0;
}
caption,th {
  text-align: left;

}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-size: 100%;
  margin:0;
  padding:0;
  color:#444;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border: 0;
}

/*common css*/
#bg_image {
  position: fixed; 
  top: 0; 
  left: 0; 
  
  /* Preserve aspet ratio */
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}