*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: '微软雅黑';
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
::-webkit-scrollbar {/*隐藏滚轮*/
    display: none;
}
.pageBody{
    position: relative;
    height: 100%;
}
header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
.header{
    position: relative;
    height: .6rem;
    background: url("../images/head_bg.png")no-repeat center;
    background-size: 100%;
}
.header-logo{
    position: absolute;
    top: .2rem;
    display: block;
    width: .56rem;
    margin:0 0 0 .12rem;
}
.main{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    font-size: 0;
    padding-top: 1.12rem;
    padding-bottom: .55rem;
}
.nav{
    overflow: hidden;
    border-bottom: .02rem solid #F0F0F0;
    background-color: #fff;
}
.nav>li{
    float: left;
    width: 50%;
    font-size: .16rem;
    color: #aaa;
    height: .5rem;
    line-height: .5rem;
    font-weight: bold;
}
.nav .nav-le{
    text-align: left;
}
.nav .nav-text{
    padding: .03rem .2rem;
    border-radius: .28rem;
}
.nav .nav-le a{
    text-align: right;
    padding-right: .1rem;
}
.nav .nav-ri a{
    padding-left: .1rem;
}
.nav>li.active .nav-text{
    color: #fff;
    position: relative;
    background-color: #ff435d;
}
/*.nav>li.active .nav-text:after{*/
    /*content: '';*/
    /*position: absolute;*/
    /*bottom: -.06rem;*/
    /*left: 50%;*/
    /*margin-left: -.08rem;*/
    /*width: .16rem;*/
    /*height: .04rem;*/
    /*background: url("../images/nav_on_line.png")no-repeat center;*/
    /*background-size: 100%;*/
/*}*/
.nav>li a{
    display: block;
    color: #aaa;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
.message-row{
    position: relative;
}
.message-row .message{
    position: absolute;
    right: .2rem;
    top: .14rem;
    width: .24rem;
    height: .24rem;
    background: url("../images/tabbar_icon_index_unsel@2x.png")no-repeat center;
    background-size: 100%;
}
.nav-ri.message-row .message span{
    display: inline-block;
    padding: 0 .05rem;
    font-size: .1rem;
    line-height: .14rem;
    color: #fff;
    text-align: center;
    background-color: #F95645;
    border-radius: .5rem;
    position: relative;
    top: -.25rem;
    margin-left: .12rem;
    font-weight: 500;
}
.nearby{
    overflow: hidden;
    padding-right: .05rem;
    border-bottom: .1rem solid #f2f1f0;
}
.nearby-list{
    width:calc(50% - .05rem) ;
    /*height: 1.8rem;*/
    margin: .05rem 0 0 .05rem;
    float: left;
}
.nearby-top{
    position: relative;
}
.nearby-top:before{
    content:"";
    display: inline-block;
    padding-bottom: 100%;
}
.nearby-list .nearby-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .05rem;
}
.nearby-list .tab{
    position: absolute;
    top: .07rem;
    left: .09rem;
    padding: .03rem .08rem;
    font-size: .1rem;
    color: #fff;
    line-height: .1rem;
    background:-moz-linear-gradient(left,#FF9537,#FFBC2B);/*Mozilla*/
    background:-webkit-gradient(linear,0 50%,100% 50%,from(#FF9537),to(#FFBC2B));/*Old gradient for webkit*/
    background:-webkit-linear-gradient(left,#FF9537,#FFBC2B);/*new gradient for Webkit*/
    background:-o-linear-gradient(left,#FF9537,#FFBC2B); /*Opera11*/
    border-radius: .1rem;
    opacity: .9;
}
.onLine{
    position: absolute;
    right: .07rem;
    top: .07rem;
    width: .36rem;
    height: .15rem;
}
.nearby-bottom{
    padding: .12rem;
    font-size: .16rem;
    overflow: hidden;
    line-height: .16rem;
}
.nearby-bottom .nearby-bottom-lf{
    color: #222;
    float: left;
}
.nearby-bottom .nearby-bottom-ri{
    float: right;
    font-size: .12rem;
    color: #999;
}
.nearby-bottom .nearby-bottom-ri i{
    position: relative;
    top: .02rem;
    display: inline-block;
    width: .12rem;
    height: .12rem;
    margin-right: .08rem;
    background: url("../images/card_icon_location@2x.png")no-repeat center;
    background-size: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: .55rem;
    background: rgba(26,20,38,.85);
    z-index: 10;
}
.footer-logo{
    display: block;
    float: left;
    width: .4rem;
    height: .4rem;
    margin: .08rem .1rem .08rem .12rem;
}
.footer-text{
    margin-top: .12rem;
    float: left;
}
.footer-text h4{
    font-size: .14rem;
    line-height: .14rem;
    color: #fff;
    margin-bottom: .05rem;
}
.footer-text p{
    color: #fff;
    font-size: .12rem;
    line-height: .12rem;
}
.footer-btn{
    float: right;
    width: .85rem;
    height: .32rem;
    margin-top: .12rem;
    margin-right: .15rem;
    background: url("../images/down_btn.png")no-repeat center;
    background-size: 100%;
}
/*附近动态*/
.dynamicRow dd{
    border-bottom: .06rem solid #f2f1f0;
    padding: .12rem .09rem;
}
.dynamicRow-top{
    overflow: hidden;
    padding: 0 .03rem;
}
.dynamicRow-hb{
    width: .5rem;
    height: .5rem;
    float: left;
}
.dynamicRow-hb img{
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    object-fit: cover;
}
.dynamicRow-bd{
    float: left;
    margin-left: .12rem;
}
.dynamicRow-bd h4{
    font-size: .16rem;
    line-height: .16rem;
    color: #222;
    font-weight: 500;
    margin-top: .06rem;

}
.dynamicRow-bd span{
    display: inline-block;
    font-size: .1rem;
    line-height: .1rem;
    padding: .04rem .09rem;
    border-radius: .03rem;
    margin-right: .03rem;
    margin-top: .08rem;
}
.color-567BA7{
    color: #567BA7;
    background-color: #EFF7FF;
}
.color-D85A5A{
    color: #D85A5A;
    background-color: #FFEBEB;
}
.dynamicRow-fb{
    float: right;
    width: .57rem;
    height: .31rem;
    margin-top: .07rem;
    background: url("../images/sl_btn.png")no-repeat center;
    background-size: 100%;
}
.dynamicRow-text{
    font-size: .16rem;
    line-height: .16rem;
    padding: 0 .03rem;
    margin: .17rem 0 .15rem;
}
.dynamicRow-img{
    overflow: hidden;
}
.dynamicRow-img li{
    float: left;
    width: calc(33.3% - .06rem);
    margin: 0 .03rem .12rem;
}
.dynamicRow-img li img{
    width: 100%;
    height: 1.6rem;
    object-fit: cover;
}
.dynamicRow-footer{
    width: 1.6rem;
    height: .24rem;
    background-color: #F8F8F8;
    font-size: .12rem;
    color: #666666;
    line-height: .24rem;
}
.dynamicRow-footer span{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-left: .37rem;
    background: url("../images/map_icon.png")no-repeat left;
    background-size: .24rem;
}
/*ios弹出包*/
.mask {
    z-index: 999999;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.alert-box {
    position: absolute;
    width: 86%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #f9f9f9;
    height: auto;
    padding: 3%;
    border-radius: .02rem;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.now-download {
    width: 100%;
    color: #999;
    margin-bottom: .05rem;
    font-size: .14rem;
    line-height: .2rem;
}

.close-btn {
    width: .1998rem;
    height: .1998rem;
    position: absolute;
    right: 3%;
    top: 3%;
    z-index: 3;
    background: url(../images/c_lose.png) no-repeat center;
    background-size: 100% auto;
    display: block;
}
.alert-btn {
    z-index: 10;
    width: 100%;
    margin: .05rem auto;
    height: .07984rem;
    line-height: .07984rem;
    background: #0093ff;
    position: relative;
    border-radius: .04rem;
}
.color-bar {
    z-index: 12;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    border-radius: .133333rem;
}
.course_pic img {
    width: 100%;
}
.top-bar {
    z-index: 15;
    background: #0093ff;
    width: 1%;
}
.buttom-bar {
    background: #b8b8b8;
}
.change {
    width: 80%;
    margin: 2% 0 0 10%;
    background: #0093ff;
    text-align: center;
    height: .4rem;
    line-height: .4rem;
    color: #fff;
    border-radius: .02rem;
    display: block;
    font-size: .14rem;
}
.course_pic{
    line-height: 0;
}
.tipRowImg{
    width: .45rem;
    height: .45rem;
    margin: 0 auto;
}
.tipRowImg img{
    display: block;
    width: .45rem;
    height: .45rem;
    object-fit: cover;
    border-radius: 50%;
}
.tipRow-title{
    font-size: .14rem;
    color: #333;
    line-height: .20rem;
    text-align: center;
    margin: .1rem .1rem 0;
}
.tipRow-btn{
    display: block;
    color: #fff;
    width: 50%;
    height: .3rem;
    margin: .1rem auto;
    border: none;
    outline: none;
    background-color: #D85A5A;
    font-size: .14rem;
}
.locationIP{
    margin-right: .04rem;
    font-style: normal;
}
.nearby-nav{
    font-size: .16rem;
    height: .5rem;
    line-height: .5rem;
    font-weight: 700;
    padding-left: .42rem;
    border-bottom: 1px solid #f1f1f1;
    background: url("../images/line_icon.png")no-repeat .18rem;
    background-size: .05rem .18rem;
}
.keepMent .dynamicRow-fb{
    background-image: url(../images/fuyue_btn.png);
    width: .785rem;
    height: .385rem;
}
.keepMent-tab{
    font-size: .12rem;
    line-height: .12rem;
    color: #aaa;
    margin-top: .08rem;
}
.dynamicRow-text p{
    line-height: .24rem;
}
.video-btn.dynamicRow-fb{
    margin-right: .1rem;
    background-image: url(../images/video_btn.png);
}
.video-count{
    /*object-fit: cover;*/
    background: #000;
    margin-bottom: .12rem;
    height: 3rem;
}
.more-link{
    font-size: .14rem;
    text-align: center;
    padding: .1rem 0;
    border-bottom: .1rem solid #f2f1f0;
    border-top: .1rem solid #f2f1f0;
}
/*公司信息*/
.v_more{padding-bottom:.1rem;}
.part02-ft{padding:.12rem .12rem .1rem;background-color: #f9f9f9;font-size:.12rem;color:#2E2E2E;text-align:center;}
.part02-ft li{line-height: .15rem;}
.p_add .ph_footer,.p_add .fo_left,.p_add .fo_right{background-color: #f1f1f1;}