@charset "gb2312";
/* CSS Document */@import url("/leyu/css/leyu.css");
ul,dl,dd,h1,h2,h3,h4,h5,h6,form,p { padding:0; margin:0;}
ul { list-style:none;}
img { border:0px;}
.fl { float:left;}
.fr { float:right;}
.clearfloat {clear:both;height:0; font-size: 1px;line-height: 0px;}
a { color:#444444; text-decoration:none; cursor:pointer; }
a:hover { color:#f00; }
body { margin:0px; font-size:14px; font-family:microsoft yahei,"ו"; line-height:1.5; background:white; color:#444444;}
#body { width:1000px; margin:0px auto;  background:white; }
/*header*/
#header { background:url(../img/head_bg.jpg) center top no-repeat;}
#header center { text-align:center;}
/*nav*/
.nav { margin:0px auto; overflow:hidden; background:#c17b05;}
.nav .nav_main { background:#c17b05; width:1000px; margin:0px auto; overflow:hidden; height:40px; line-height:40px;}
.nav .nav_main ul li { float:left; font-size:16px;}
.nav .nav_main ul li a { _float:left; display:inline-block; color:#fff; padding:0px 24px;  border-left:1px solid #e59d24; border-right:1px solid #8f5a00;}
.nav .nav_main ul li a:hover,.nav_main ul li a#nav_current { background:#8f5a00;border-left:1px solid #8f5a00;position: relative; left:0px; top:0px;}


.nav_son { background:white;}
.nav_son ul { width:1000px; margin:0px auto;}
.nav_son ul li { padding:7px 0px;}
.nav_son ul li a { display:block;text-align:center; color:#6e6e6e;}

#banner { margin-bottom:13px;}
#banner center { height:358px; background:url(../img/02.jpg) center top no-repeat;}

/*main*/
#maincontent { width:1000px; overflow:hidden; margin:0px auto;}
#main { width:760px; overflow:hidden;}
#main .top { margin-bottom:13px; overflow:hidden; height:255px;}
#main .top .js { height:239px; width:254px; border:5px solid #EAEAEA ; padding:3px;}
#main .top .box { height:255px; width:479px; overflow:hidden; background:url(../img/box.gif) 0px 0 no-repeat;}
#main .top .box_top { padding:10px 0px 0px 0px;}
#main .top .box_top .join_one{ padding-left:5px;}
#main .top .box_top h1 { font-size:18px; padding:3px 0px 8px 0px; font-family:"microsoft yahei"; color:#444; text-align:center; white-space:nowrap; overflow:hidden;}
#main .top .box_top p { color:#999;}
#main .top .box_list { padding:6px 0px 0px 10px;}
#main .top .box_list ul li { background:url(../images/icon.gif) 0 -300px no-repeat;line-height:1.9; padding-left:5px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#main .top .box_list ul li span { float:right; color:#579f11;}

#main .banner { margin-bottom:10px; overflow:hidden; position:relative; z-index:1;}
#main .banner .bd ul li { width:100%; display:none;}
#main .banner .bd ul li a { display:block; height:240px; -moz-border-radius:5px;-webkit-border-radius:5px; border-radius:5px;}
#main .banner .hd { position:absolute; z-index:2; right:5px; bottom:5px;}
#main .banner .hd li { display:inline-block; _float:left; width:20px; height:20px; text-align:center; margin-left:5px; background:orange; -moz-border-radius:50px;-webkit-border-radius:50px; border-radius:50px;}
#main .banner .hd li:hover,#main .banner .hd li.on { background:white; cursor:pointer;}

#main .next { margin-bottom:13px;}
#main .nextmain { padding:20px 20px; line-height:2; color:#444444; border:1px solid #fed692; background:#fff8ec;-moz-border-radius:5px;-webkit-border-radius:5px; border-radius:5px;}



.zsjz {}
.zsjz a { display:block; color:blue; padding:3px 0px;  font-size:14px;}
.zsjz a:hover { background:#c3c3c3; }

#main .one_tr { margin-bottom:13px; overflow:hidden;}
#main .two_td { width:374px; overflow:hidden; color:#444444;}
/*main - public*/
.tdmain { padding:13px; line-height:1.8; border:1px solid #C1E0F7; border-top:none; border:1px solid #C2E9FC; background:#F4FCFF;}
.tdmain img { width:85px; height:60px; float:left; margin-right:15px; border:1px solid #377ec7; padding:2px;}
.tdmain ul { overflow:auto; zoom:1;}
.tdmain ul li { background:url(../img/icon.gif) 0 -300px no-repeat; padding-left:20px; display:block; overflow:hidden; width:140px; float:left; margin-right:10px; overflow:hidden; white-space:nowrap;text-overflow:ellipsis;}
.tdmain ul li.width { float:none; width:auto;_width:310px;*width:310px; overflow:hidden;}
/*sider*/
#sider { width:228px; overflow:hidden;}
.sider_box { margin-bottom:8px;}
.sider_box h2 { height:25px; padding:2px 0px 4px 0px; text-align:center; background:url(../img/side_bg.gif) 0 0 no-repeat; font-size:16px; color:#444; border-bottom-color:#c3c3c3;}
.sider_box h2 strong { color:#f30;}
.sider_boxcon { padding:0 10px; background:url(../img/side_bg.gif) 0 bottom no-repeat;}
.sider_boxmain { padding:3px 0px;}

.sider_boxmain ul.zswd { padding:0px 15px;}
.sider_boxmain ul.zswd li { height:30px; line-height:30px; border-bottom:1px dotted #c3c3c3;}
.sider_boxmain ul.zswd li a { font-size:12px; padding-left:15px; background:url(../img/biao.gif) left center no-repeat;}

.sider_boxmain span { padding:0px 10px;}
.sider_boxmain .join a { display:block; height:35px; margin-bottom:8px; background:url(/schools/js/join_one/img/join.png) 0 0 no-repeat;}
.join a.wsbm { background-position:0px 0px;}
.join a.mfsqjz { background-position:0px -45px;}
.join a.zxjxjsq { background-position:0px -89px;}
.join a.lqtzssq { background-position:0px -134px; margin-bottom:0px;}
/*footer*/
#footer { text-align:center; padding:15px 0px 20px 0px;}
#footer dl dt { height:28px; line-height:28px;  background:#db8801; color:#fff;-moz-border-radius:50px;-webkit-border-radius:50px; border-radius:50px;}
#footer dl dt a { color:#fff;}
#footer dl dd { padding:8px 0; color:#666; line-height:2;}
/*all-public*/
.noheight { height:600px;}
.bigheight { height:1500px;}

h2 { height:30px; line-height:30px; font-size:16px; color:#646464; overflow:hidden;}
h2 span { display:inline-block; height:24px; line-height:24px; padding:0px 10px; border-left:5px solid #377ec7; color:#377ec7;}
h2 .more { font-weight:normal; color:#7db9f6; font-size:12px; line-height:24px;}
h3 { font-size:20px; line-height:1.8; text-align:center; margin:0px auto 10px auto; border-bottom:1px dotted #999; padding-bottom:18px; color:#444444; }
h4 { font-size:14px;color:#068ecc; display:block; padding-left:28px; margin:10px 0px; }
h5 { position: relative; font-size:16px; text-align:left; padding:10px 25px; background:url(../img/icon.gif) 0px -184px no-repeat; overflow: auto; color:#9E4F1F;}
h5 a { color: #777777;}
h5 span { position:absolute; right:0px; height:24px;}
h5 span a { height:100%; padding:0px 20px; display:inline-block;*float:left; margin-left:12px; background:#377ec7; color:white;-moz-border-radius:12px;-webkit-border-radius:12px; border-radius:12px; line-height:24px; font-weight:normal; font-size:14px;}
h5 span a.one { background:#e16662;}
h5 span a:hover { color:white;}


.msfc .lis { padding-bottom:15px; margin-bottom:15px; overflow:auto; zoom:1; border-bottom:1px dotted #c3c3c3;}
.msfc .lis .l { float:left; display:block; overflow:hidden; padding:5px; background:white; border:1px solid #c3c3c3;}
.msfc .lis .l img { display:block; border:1px solid #377ec7; background:#bbddff;width:150px; height:70px; font-size:50px; line-height:72px; text-align:center; font-weight:bold; color:#377ec7;-moz-border-radius:5px;-webkit-border-radius:5px; border-radius:5px; border:1px solid #142c68;}
.msfc .lis .r { float:right; width:536px; }
.msfc .lis .r a { color:red; font-size:16px; margin-bottom:8px; display:block; line-height:1; font-weight:bold;}
.msfc .lis .r a:hover { color:red; text-decoration:underline;}
.msfc .lis .r p { width:100%; display:block; overflow:hidden; height:60px;line-height:1.8; font-size:12px;}


#tab { display:block; overflow:hidden;}
#tab .T { display:block; overflow:hidden; padding-bottom:15px; overflow:auto; zoom:1;}
#tab .T span { padding:3px 25px; float:left; margin-bottom:8px; text-align:center; cursor:pointer; background:#f3f3f3; border:1px solid #dbdbdb; margin-right:10px;}
#tab .T span:hover { color:#f30; background:#FEEAD3; border-color:#F17301;}
#tab .T span.on { color:#ffffff; background: #F17301; border-color:#F17301;}
#tab .T span { font-weight:normal;}
#tab .M {  display:block;}

#tab .M ul li { float:left; border:1px solid #dbdbdb; margin-bottom:12px; margin-left:12px;  border-bottom-color:#dbdbdb;  background:#f3f3f3; text-align:center; }
#tab .M ul li a { padding:5px; border-bottom:1px solid #dbdbdb; display:block; background:white;}
#tab .M ul.xxsh li a img { width:200px; height:170px;}
#tab .M ul.jyjs li a img { width:117px; height:150px;}
#tab .M ul.jyjs2 li a img { width:152px; height:130px;}
#tab .M ul.alzs li a img { width:120px; height:120px;}
#tab .M ul.yscjzs li a img { width:120px; height:160px;}
#tab .M ul li a:hover img { filter:alpha(opacity=80); opacity:0.8;}
#tab .M ul li p { line-height:1.5; padding:5px 0px; font-size:12px;}
#tab .hidden { display:none;}


.rmss { padding-top:10px;}
.rmss ul { overflow:auto; zoom:1; width:100%;}
.rmss ul li { font-size:12px; float:left; border:1px solid #C2E9FC; margin-right:5px; margin-bottom:10px; padding:2px 10px; background:#F4FCFF;-moz-border-radius:50px;-webkit-border-radius:50px; border-radius:50px;}


.zysz { height:210px; overflow:hidden;}
.zysz li { width:84.44px; height:210px; overflow:hidden; float:left;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;}
.zysz li a { display:block; height:100%; line-height:1.1; }
.zysz li.five a { background:url(../img/zy_nine.png) left bottom no-repeat; color:#43a343;}
.zysz li.two a { background:url(../img/zy_ten.png) left bottom no-repeat; color:#9e9e2b;}
.zysz li.nine a { background:url(../img/zy_eleven.png) left bottom no-repeat; color:#01b6ce;}
.zysz li.one a { background:url(../img/zy_one.png) left bottom no-repeat; color:#b45a5a;}
.zysz li.three a { background:url(../img/zy_three.png) left bottom no-repeat; color:#a26a30;}
.zysz li.four a { background:url(../img/zy_four.png) left bottom no-repeat; color:#37a4a4;}
.zysz li.six a { background:url(../img/zy_six.png) left bottom no-repeat; color:#6868ba;}
.zysz li.seven a { background:url(../img/zy_seven.png) left bottom no-repeat; color:#33a9a9;}
.zysz li.eight a { background:url(../img/zy_eight.png) left bottom no-repeat; color:#4e84bb;}
.zysz li a p span { margin-top:20px; text-align:center; display:block; font-size:16px;}
.zysz li a:hover {filter:alpha(opacity=100); opacity:1;}
.zysz:hover li { width:71.25px;}
.zysz li:hover { width:190px;}
.zysz li:hover a { background-position:center bottom;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;}


.zxbm { text-align:center;padding:20px 0px;}
.zxbm a:hover { filter:alpha(opacity=80); opacity:0.8; }
.zxbm p { font-size:18px; color:#33b5b9; padding-top:5px;}