@charset "utf-8";
/* CSS Document */
html {overflow-x:hidden;}
body {margin:0; padding:0; font-style: normal; font:12px/1.5 "\u5fae\u8f6f\u96c5\u9ed1","Microsoft YaHei","\5B8B\4F53", Arial, Helvetica, sans-serif; background-color:#eee;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,iframe,fieldset,input,button,select,textarea,blockquote,p,big,small,a,span,b,strong,center,font,em{padding:0; margin:0; color:#000; outline:none}
table,td,tr,th{font-size:12px;}
ol,ul {list-style:none;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:normal;}
address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp { font-family: courier new, courier, monospace; }
small { font-size: 12px; } 
button, input, select, textarea { font-size: 100%; }
address,cite,code,em,th,i{font-weight:normal; font-style:normal;}
area{outline:none}
.clearfix{*zoom:1;}
.clearfix:after{display:block; overflow:hidden; clear:both; height:0; visibility:hidden; content:".";}
a {color:#373737; text-decoration:none; outline:none}
a:visited {text-decoration:none;}
a:hover {color:#ba2636;text-decoration:underline;}
a:active {color:#ba2636;}
.red, .red a { color:#b90e08; }
.blue, .blue a { color:#1e51a2; }
.yellow{ color:#f6ff00}
.left { float:left; }
.right { float:right; }
.clear { clear:both; height:1px; width:100%; overflow:hidden; margin-top:-1px; }

.wrap{ width:1200px; margin:0 auto;}
.top{ height:72px; padding:10px; background-color:#fff}

.nav{
    height:40px;
    background: #f0f0f0;
    line-height: 40px;
    font-size: 16px;
	position:relative
}
.menu>li{
    width: 133px;
    float: left;
    text-align: center;
    display: block;
}
.menu>li a{
    display: block;
}
.menu>li:hover{
    color:#818181;
    background: #fff;
}
.menu>li>ul:hover{
    color:#818181;
    background: #fff;
}
.ds{
    position:absolute;
    top:40px;
    display: none;
    overflow: hidden;
    min-height: 80px;
    z-index: 1000;
    background: #fff;
	width:133px;
}
.ds li{
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
}
.ds li:hover{
    color:#000;
}
.menu>li:hover .ds{
    display: block;
}
.nav-active{
    color:#818181;
    background: #fff;
}

.logo{
    width: 174px;
    height: 62px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.logo-title{
   height: 50px;
    line-height: 50px;
    border-left: 2px solid #e6e3e3;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    padding-left: 10px;
}
.tel{
    height:44px;
    margin-top: 10px;
    margin-left: 135px;
}
.tel-title{
    font-size:16px;
    height: 20px;
    line-height: 20px;
}
.tel-num{
    font-size: 24px;
    height: 25px;
    line-height: 25px;
}
.media{
    line-height: 25px;
    font-size: 14px;
    color: #b0b0b0;
    margin-right: 40px;
    padding: 20px 0;
}
.media a{
    display: block;
    margin: 0 5px;
}


.leave-box{
    top:50%;
    left: 50%;
    height: 460px;
    margin-top: -230px;
    margin-left: -195px;
    width: 390px;
    position: absolute;
    z-index: 101;
}
.dia-leave{
    padding: 20px;
    overflow: hidden;
}
.dia-leave-top{
    overflow: hidden;
}
.dia-leave-select{
    width: 165px;
    border:1px solid #bfbfbf;
    height: 40px;
    padding:0 10px;
    line-height: 35px;
    font-size: 14px;
    -webkit-appearance: none;
    outline: none;
    background: url("../images/careat.png") no-repeat 97% transparent;
}
.dia-leave-area{
    width: 100%;
    height: 100px;
    border:1px solid #bfbfbf;
    box-sizing: border-box;
    resize: none;
    padding: 5px;
    font-size: 14px;
    line-height: 20px;
    margin: 15px 0;
    outline: none;
}
.dia-leave-btn{
    width:120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    background: #fd521d;
    margin:15px auto;
    outline: none;
    border: none;
    display: block;
}

.dia-header{
    width: 100px;
    height: 70px;
    border-radius: 50px;
    background: #fff;
    display: block;
    padding:15px 0;
    margin: 0 auto;

}
.dia-header img{
    display: block;
    margin: 0 auto;
}
.dia-content{
    width: 100%;
    overflow: hidden;
    background: #fff;
    margin-top: -50px;
    position: relative;
    z-index: -1;
}
.dia-title{
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-top: 50px;
    text-align: center;
    font-size: 24px;
}
.dia-submit {
    padding: 20px 70px 20px 70px;
    overflow: hidden;
}

.close-reveal-modal{
    position: absolute;
    right: 15px;
    top: 45px;
    font-size: 50px;
    color: #bfbfbf;
    cursor: pointer;
}

	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 100;
		display: none;
		top: 0;
		left: 0; 
		}

		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: 30px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		font-weight: bolder;
		cursor: pointer;
		} 


.banner{ max-width:1920px; width:100%; height:602px; margin:0 auto; overflow:hidden; position:relative;}
.banner .wrap{ position:relative}
.ban_right{ width:370px; height:602px; position:absolute; right:5%; top:0; color:#fff; background:url(../images/touming.png) repeat;}
.ban_right span{ display:block; font-size:18px; color:#fffc01; border-bottom:dashed 1px #fff; padding:20px 0 10px 20px; margin-bottom:15px}
.ban_right a{ display: inline-block; font-size:16px; width:160px;padding-left:20px; line-height:30p; color:#fff}
.ban_right .top_rbtn{ width:280px; height:60px; line-height:60px; font-size:24px; color:#a50506; background:url(../images/top_rbtn_i.jpg) no-repeat 230px 50% #fffc01; display:block; margin:20px 0 0 20px; padding-left:30px}


.banner .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.banner .hd ul{ overflow:hidden; zoom:1; float:left;  }
.banner .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.banner .hd ul li.on{ background:#f00; color:#fff; }
.banner .bd{ position:relative; height:100%; z-index:0;   }
.banner .bd li{ zoom:1; vertical-align:middle;max-width:1920px; width:100%; height:602px; display:block}

.banner .prev,
.banner .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../images/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.banner .next{ left:auto; right:3%; background-position:8px 5px; }
.banner .prev:hover,
.banner .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.banner .prevStop{ display:none;  }
.banner .nextStop{ display:none;  }



.title{ text-align:center; height:100px; line-height:100px; font-size:40px; font-weight:bold; color:#000;overflow:hidden}
.cgal .title{ color:#a50506}
.kcnr .title{ color:#fff; padding:30px}
.kcts .title{padding:10px; }
.download .title{ color:#fffc00; padding:20px}
.cgal_box li{ width:288px; height:271px; margin-right:15px; margin-bottom:30px; margin-top:30px; float:left; overflow:hidden; position:relative}
.cgal_box li span{ height:35px;background:url(../images/touming.png) repeat; display:block; position:absolute; left:0; bottom:0; color:#fff; font-size:14px; line-height:24px; padding:15px 20px 15px 10px}
.cgal_box li span a{ display:block; width:100%; text-align:center; line-height:30px; color:#eaff00; font-size:18px}

.moreal{ height:170px; background-color:#fff; margin-bottom:40px}
.moreal dl{ width:750px; float:left; padding:20px 0 20px 30px}
.moreal dl dt{ font-size:24px; color:#a50506; line-height:35px; margin-bottom:15px}
.moreal dl dd{ line-height:30px; font-size:18px; margin-right:50px; display:inline-block}
.moreal_rbtn{ width:420px; height:130px; display:inline-block; background-color:#a50506; color:#e0f400; font-size:32px; text-align:center; float:right; padding-top:40px}
.moreal_rbtn:hover{color:#fff; text-decoration:none}

.kcnr_box{ padding-bottom:40px}
.kcnr_box dl{ width:370px; height:400px; margin:0 30px 30px 0 ; padding:5px; float:left; background-color:#f48c71; position:relative}
.kcnr_box dl.one{background-color:#f48c71;}
.kcnr_box dl.two{background-color:#79bae2;}
.kcnr_box dl.three{background-color:#b072bb;}
.kcnr_box dl.four{background-color:#88d9d0;}
.kcnr_box dl.five{background-color:#f6d785;}
.kcnr_box dl.six{background-color:#b6da83;}
.kcnr_box dl dt{ color:#fff; font-size:24px; font-weight:bold; line-height:35px; text-align:center; display:block; border-bottom:solid 1px #423e76; padding:20px 0; margin-bottom:20px}
.kcnr_box dl dd{ font-size:16px; line-height:30px; padding:0 30px}
.kcnr_box dl dd a{ color:#000}
.kcnr_box dl a.bbtn{ display:block; width:200px; font-size:20px; font-weight:bold; padding-left:30px; color:#000; background:url(../images/lm2_i.png) no-repeat 195px 50%; position:absolute; left:0; bottom:30px}

.kcts{ height:400px; background:url(../images/kcts_bg.jpg) no-repeat 50% fixed;}
.kcts_box li{ width:224px; height:100px; float:left; text-align:center; font-size:20px; color:#fff; margin-right:20px; padding-top:25px}
.kcts_box li.one{ background-color:#21ba85;}
.kcts_box li.two{ background-color:#d65156;}
.kcts_box li.three{ background-color:#feb101;}
.kcts_box li.four{ background-color:#a94ae6;}
.kcts_box li.five{ background-color:#349cdb; margin-right:0}
.kcts_box li a{ color:#fff}
.kcts_box a.kcts_btn{ width:310px; height:70px; background-color:#a50506; display:block; margin:35px auto; line-height:70px; text-align:center; font-size:20px; color:#e0f400}

.shipin{ background-color:#fff}
.shipin a.more{ font-size:18px; font-weight:normal; float:right; background-color: #a50506;height: 35px;line-height: 35px;margin-top: 50px;color: #fff;padding: 0 15px;border-radius: 10px;}
.video_box { padding-bottom:40px;overflow:hidden; position:relative;}
.video_box .bd ul{ overflow:hidden; zoom:1; }
.video_box .bd ul li{ width:280px; float:left; text-align:center; margin-right:25px;_display:inline; overflow:hidden;}
.video_box .bd ul li:last-child{ margin-right:0}
.video_box .bd ul li .video{width:280px; height:200px; background:url(../images/video.jpg) no-repeat 50%;}
.video_box .bd ul li .video a{ display:block; width:100%; height:100%}
.video_box .bd ul li a{ line-height:24px; font-size:16px; padding:15px 0; display:inline-block;}

.video_box .hd{ overflow:hidden;  height:42px; margin:20px 0}
.video_box .hd .prev,.video_box .hd .next{width: 42px;height: 42px;display: block;float: right;margin-right: 1px;background-color: #c1c1c1;margin-left:10px;}
.video_box .hd .prev:hover,.video_box .hd .next:hover{ background-color:#b90e08}
.video_box .hd .prev:hover,.video_box .hd .next:hover{-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;}
.video_box .hd .prev{background-image: url(../images/jt_l.png);}	
.video_box .hd .next{ background-image: url(../images/jt_r.png);}
.video_box .hd .prevStop{ background-position:-60px 0; }
.video_box .hd .nextStop{ background-position:-60px -50px; }
.video_box .hd ul{ display:none}


.download{ background-color:#a50506; padding-bottom:70px}
.download li{ width:190px; margin-right:10px; float:left}
.download li:last-child{ margin-right:0}
.download li a{ color:#fff; display:block; font-size:18px; line-height:32px; cursor:pointer}
.download a{color:#fff;}
