* {
    margin: 0;
    padding: 0;
}

.container > a > img {
    display: block;
    width: 100%;
}

.bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.bar img {
    float: left;
    width: 100%;
}

body {
    position: relative;
}

#logo {
    /*display: none;*/
    width: 20%;
    position: absolute;
    left: 5px;
    top: 5px;
}
.copyRight{
    font-size: 15px;
    text-align: center;
}