html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select{margin: 0;padding: 0;}
*{box-sizing: border-box;}
html, body{min-height: 100%;}
body{font-size: 14px;color: #333;height: 100%;}
body > a{display: none;}
h1, h2, h3, h4, h5, h6{font-weight: normal;}
ul, ol{list-style: none;}
img{border: none;vertical-align: middle;}
a{text-decoration: none;color: #232323;}
table{border-collapse: collapse;table-layout: fixed;}
input, textarea{outline: none;border: none;}
textarea{resize: none;overflow: auto;}
.clear, .clearfix:after{clear: both}
.clearfix, .zoom{zoom: 1}
.clear, .clearfix:after{overflow: hidden}
.clearfix:before, .clearfix:after{content: " ";display: table;clear: both}
.container{position: relative;max-width: 800px;margin: 0 auto;height: 100vh;}
.container .header{position: absolute;top: 0;left: 0;z-index: 10;width: 100%;height: 1.2rem;background: url('https://cdn.xzwjuub.cn/huohua/images/top_bg.png') no-repeat;background-size: cover;}
.container .header .header-left{float: left;}
.container .header .left-logo{float: left;width: 1.2rem;height: 1.2rem;overflow: hidden;}
.container .header .left-logo img{width: 0.8rem;height: 0.8rem;margin: 0.2rem;}
.container .header .left-title{float: left;color: #fff;}
.container .header .left-name{margin-top: .2rem;font-size: .38rem;font-weight: 600;}
.container .header .left-description{font-size: .24rem;}
.container .header .header-right{float: right;width: 2.4rem;height: .64rem;line-height: .64rem;margin: .28rem .3rem;color: #FF38B0;font-size: .28rem;border-radius: 30px;background-color: #fff;}
.container .header .header-right .right-icon{float: left;width: .3rem;height: .3rem;margin: .16rem .04rem .16rem .2rem;background: url("https://cdn.xzwjuub.cn/huohua/images/top_icon_downloads.png") no-repeat;-webkit-background-size: cover;background-size: cover;}
.content{position: relative;background: #7A716B url('https://cdn.xzwjuub.cn/live_bg.jpg') no-repeat 0 0;background-size: cover;height: 100%;padding-top: 1.2rem;}
.content .content-top{margin: .44rem .3rem;overflow: hidden;}
.content .content-top .top-left{float: left;width: 3.8rem;height: .94rem;background: rgba(0, 0, 0, .4);color: #ffffff;-webkit-border-radius: 60px;-moz-border-radius: 60px;border-radius: 60px;}
.content .content-top .top-left .avatar{float: left;width: .94rem;height: .94rem;background: url("https://cdn.xzwjuub.cn/huohua/images/avatar.png") no-repeat center;-webkit-background-size: cover;background-size: cover;}
.content .content-top .top-left .user{float: left;height: .94rem;margin-left: .18rem;}
.content .content-top .top-left .user .name{font-size: .3rem;font-weight: 600;margin-top: .12rem;margin-left: .1rem;}
.content .content-top .top-left .user .sex-icon{display: inline-block;width: .3rem;height: .3rem;margin-bottom: -.04rem;background: url("https://cdn.xzwjuub.cn/huohua/images/data_icon_girl.png") no-repeat center;-webkit-background-size: contain;background-size: contain;}
.content .content-top .top-left .care{float: right;width: .9rem;height: .48rem;margin: .24rem .3rem 0 0;background: url("https://cdn.xzwjuub.cn/huohua/images/data_icon_follow.png") no-repeat center;-webkit-background-size: contain;background-size: contain;}
.content .content-top .top-left .user .address{font-size: .24rem;}
.content .content-top .top-left .address-icon{float: left;width: .3rem;height: .3rem;margin-top: .02rem;margin-right: .1rem;background: url("https://cdn.xzwjuub.cn/huohua/images/data_icon_location.png") no-repeat center;-webkit-background-size: contain;background-size: contain;}
.content .content-top .top-right{float: right;width: 1.8rem;height: .54rem;line-height: .54rem;margin: .2rem 0;color: #ffffff;font-size: .24rem;-webkit-border-radius: 60px;-moz-border-radius: 60px;border-radius: 60px;background-color: rgba(0, 0, 0, .4);}
.content .content-top .top-right .dian{float: left;width: .1rem;height: .1rem;margin: .22rem .1rem .22rem .18rem;background: #17FF5E;border-radius: 50%;}
.content .content-play{position: absolute;top: 50%;left: 50%;width: 1.4rem;height: 1.4rem;margin-left: -.7rem;margin-top: -.7rem;background: url("https://cdn.xzwjuub.cn/huohua/images/video_icon_play.png") no-repeat center;-webkit-background-size: contain;background-size: contain;}
.content .footer{position: absolute;bottom: 0;left: 0;padding-bottom: .2rem;width: 100%;}
.content .footer-description{text-align: center;}
.content .footer-description .text1{width: 4.94rem;height: .46rem;margin: 0 auto;background: url("https://cdn.xzwjuub.cn/huohua/images/text1.png") no-repeat center;-webkit-background-size: contain;background-size: contain;}
.content .footer-description .text2{width: 5.5rem;height: .34rem;margin: .24rem auto 0;background: url("https://cdn.xzwjuub.cn/huohua/images/text2.png") no-repeat center;-webkit-background-size: contain;background-size: contain;}
.footer .footer-btn{padding: 0 .7rem;font-size: .2rem;}
.footer .footer-btn ul li{float: left;width: 33.33%;text-align: center;}
.footer .footer-btn ul li .icon{width: 1.18rem;height: 1.18rem;margin: .71rem auto 0;-webkit-background-size: contain;background-size: contain;}
.footer .footer-btn ul li .voice{background: url("https://cdn.xzwjuub.cn/huohua/images/video_icon_voice.png") no-repeat center;-webkit-background-size: contain;background-size: contain;}
/* .footer .footer-btn ul li .phone{background: url("https://cdn.xzwjuub.cn/huohua/images/images/video_icon_get_1.png") no-repeat center;-webkit-background-size: contain;background-size: contain;-webkit-animation: scale 1s infinite;-o-animation: scale 1s infinite;animation: scale 1s infinite;} */
.footer .footer-btn ul li .phone{background: url("https://cdn.xzwjuub.cn/huohua/images/5/video_icon_get_1.png") no-repeat center;-webkit-background-size: contain;background-size: contain;-webkit-animation: scale 1s infinite;-o-animation: scale 1s infinite;animation: scale 1s infinite;}
.footer .footer-btn ul li .camera{background: url("https://cdn.xzwjuub.cn/huohua/images/video_icon_camera.png") no-repeat center;-webkit-background-size: contain;background-size: contain;}
.footer .footer-btn ul li .text{margin-top: .18rem;color: #ffffff;font-size: .20rem;}
.footer .footer-btn ul li .active{font-size: .3rem;font-weight: bold;}
.mask{display: none;position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, .2);}
.dialog{position: fixed;top: 50%;left: 50%;width: 6rem;height: 5.6rem;margin-top: -2.8rem;margin-left: -3rem;background: url("https://cdn.xzwjuub.cn/huohua/images/pop_bg.png") no-repeat center;-webkit-background-size: cover;background-size: cover;z-index: 100;}
.dialog .avatar{width: 2rem;height: 2rem;margin: .5rem auto 0;background: url("https://cdn.xzwjuub.cn/huohua/images/avatar1.png") no-repeat center;-webkit-background-size: cover;background-size: cover;}
.dialog .description{margin-top: .5rem;text-align: center;color: #ffffff;font-size: .36rem;font-weight: 400;}
.dialog .download-btn{position: absolute;bottom: .6rem;left: 50%;width: 4.8rem;height: .88rem;margin-left: -2.4rem;line-height: .88rem;color: #FF38B0;font-weight: 400;font-size: .34rem;text-align: center;border-radius: 60px;background-color: #fff;}
.install{display: none;position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, .2);text-align: center;}
.install .img{position: fixed;top: 50%;left: 50%;width: 6rem;height: 5.6rem;margin-top: -2.8rem;margin-left: -3rem;}
.install .img img{width: 100%;height: 100%;}
.mask{display: none;position: fixed;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0,0,0,.6);z-index: 250;}
.alert-box{position: absolute;width: 86%;left: 50%;top: 50%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);transform: translate(-50%, -50%);background: #f9f9f9;height: auto;padding: 3%;border-radius: .066667rem;-webkit-transition: all .3s;-o-transition: all .3s;-moz-transition: all .3s;transition: all .3s}
.close-btn{width: .533333rem;height: .533333rem;position: absolute;right: 3%;top: 3%;z-index: 3;background: url(https://res.xdlfkh.cn/lmmy/images/c_lose.png) no-repeat center;background-size: 100% auto;display: block}
.alert-btn{z-index: 10;width: 100%;margin: .133333rem auto;height: .213333rem;line-height: .213333rem;background: #0093ff;position: relative;border-radius: .133333rem}
.color-bar{z-index: 12;position: absolute;width: 100%;height: 100%;left: 0;top: 0;text-align: center;border-radius: .133333rem}
.top-bar{z-index: 15;background: #0093ff;width: 1%}
.buttom-bar{background: #b8b8b8}
.text-bar{display: block;z-index: 16;color: #fff;text-decoration: none}
.now-download{width: 100%;color: #999;margin-bottom: .133333rem}
[data-dpr="1"] .now-download{font-size: 14px;line-height: 20px}
[data-dpr="2"] .now-download{font-size: 28px;line-height: 40px}
[data-dpr="3"] .now-download{font-size: 42px;line-height: 60px}
.msg{color: #ff594c;font-size: .16rem;line-height: .266667rem;text-align: Justify;padding-bottom: .133333rem;display: none}
.change{width: 80%;margin: 2% 0 0 10%;background: #0093ff;text-align: center;height: .8rem;line-height: .8rem;color: #fff;border-radius: .066667rem;display: inline-block}
[data-dpr="1"] .change{font-size: 14px}
[data-dpr="2"] .change{font-size: 28px}
[data-dpr="3"] .change{font-size: 42px}
.course_pic img{width: 100%}
@keyframes scale{0%{transform: scale(0.98);}
50%{transform: scale(1.2);}
100%{transform: scale(0.98);}}
.copy{text-align: center;font-size: 0.1rem;color: #fff;margin-top: .133333rem}
.iosTips{display: none; position: absolute;left: 0;top: -.7rem; width: 100%;height: 1rem;background: url(https://cdn.xzwjuub.cn/huohua/images/6/txt_ios.png) center no-repeat;background-size: auto 90%; }
