
	html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{text-decoration: none;color:#333;}
#wrap{
	}
body{background: #fff;
		width: 100%;
		background-size: 66px auto;
		color:#333;
		overflow-x: hidden;
		font-family: "微软雅黑"
	}
html,body{
	max-width: 640px; margin:0 auto;overflow-x: hidden;
}


.time_end{text-align: center;font-size: 0.24rem;    margin-top: -0.5rem;padding-bottom: 1.2rem;}
.btn{overflow: hidden;padding:0.4rem 0.3rem;text-align: center;}
.btn_blue{background-color:rgb(89, 167, 223);border-radius:0.6rem;font-size: 0.36rem;color: #fff;text-align: center;border:0;height: 1rem;width:5.31rem;line-height: 1rem;text-shadow: 0px 1px 1px rgba(0,0,0,0.4);margin: 0 auto 0.8rem;display: block;}
.btn_blue_s{background: url(../images/btn_blue_s1.png) no-repeat;background-size:100%;font-size: 0.36rem;color: #fff;text-align: center;border:0;height: 0.76rem;width:3.29rem;line-height: 0.81rem;box-shadow:0px 0.06rem 0.3rem rgba(32,161,249,0.4);float: left;text-shadow: 0px 1px 1px rgba(0,0,0,0.3);border-radius: 0.4rem;}
.fr{float: right;}

.icon,
.logo .list li span,
.page2 .list_icon li span,
.page6 .list dl span,
.page7 .list_wt li button,
.block1 .close,
.layer4 .btnL,
.layer4 .btnR,
.layer2 .btnL,
.layer2 .btnR,
/* header .close{background: url(../images/bg-icon.png) no-repeat;background-size: 7.5rem auto;} */



	header{
		width: 100%;
		height: 1.3rem;
		font-size: 0.28rem;
		text-align: center;
		position: fixed;
		transform: translate3d(0px, 0px, 0px);
		left: 0; bottom:0px;
		z-index: 1112;
		background:#f4f2f2;
		overflow: hidden;
		border-top: 0.02rem solid #d3d2d7;
	}
	header li{width: 25%; float: left;  line-height: 40px;cursor: pointer;}
	header li img{display: block;width: 0.62rem;height: 0.47rem;margin: 0.2rem auto 0.14rem}
	header li a{color: #333;display: block;width:100%;font-size: 0.28rem;line-height: 0.3rem}
	

.line{width: 100%;background: #f1f6f9;height: 0.4rem;border-top: 0.02rem solid #e7e7e9}	

.bg_block{background-color: #000;opacity: 0.5;position: absolute;top:0;left: 0;width: 100%;font-size: 1000px;z-index: 0;text-indent: -9999px; height: 100%; overflow: hidden;display: none1}

.item{padding-top:40px;background:#fff;}
.page1 .top{
	background: -webkit-linear-gradient(rgb(55, 74, 153), rgb(89, 167, 223)); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(rgb(55, 74, 153), rgb(89, 167, 223)); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(rgb(55, 74, 153), rgb(89, 167, 223)); /* Firefox 3.6 - 15 */
	background: linear-gradient(rgb(55, 74, 153), rgb(89, 167, 223)); /* 标准的语法 */
	height:6.51rem;position: relative;overflow: hidden;}

/* .page1 .img_logo{background: url(../images/logo.png);background-size:100%;width: 3rem;height:1.2rem;margin: 0.3rem auto 0.4rem;z-index: 10;position: relative;}

.page1 .f1{ position:absolute; width: 3.91rem; height: 0.94rem; background: url(../images/f1.png) no-repeat; background-size: 100%; bottom: -0.51rem; right: 0;  }
.page1 .f2{ position:absolute; width: 6.37rem; height: 0.92rem; background: url(../images/f2.png) no-repeat; background-size: 100%; bottom: -0.16rem; right: 0;  } */
.page1 .top h2 b{display: block;height:0.8rem;line-height:0.8rem;color:#fff;text-shadow: 0px 1px 1px rgba(0,0,0,0.4); }
.page1 .top h2 span{display: block;color:#fff;padding-top: 0.14rem;text-shadow: 0px 1px 1px rgba(0,0,0,0.4);}
.page1 .top h2{width:75%;font-size: 0.6rem;  text-align: center;margin: 1.4rem auto 0;padding-bottom: 0.1rem;z-index: 10;position: relative;font-weight: bold;}
.page1 .top .list{padding:0.3rem 0.24rem;}
.page1 .top .list ul{display: block;width: 100%;overflow: hidden;z-index: 10;position: relative;}
.page1 .top .list li{
	width: 2.24rem;float: left;overflow: hidden;margin: 0 0.05rem;height: 0.8rem;background-color:#fff;border-radius: 0.4rem;margin-bottom: 0.3rem; line-height: 0.8rem;color: #000000;text-align: center;font-size: 0.3rem;}
.page1 .step1{margin: 0.2rem 0.3rem 0;overflow: hidden;text-align: center;}
.page1 .step1 h2{display: block;margin: 0 auto;height:0.56rem;line-height: 0.56rem;width:1.8rem;font-size: 0.44rem;color:#000000;font-weight: bold;}
.page1 .step1 p{font-size: 0.24rem;line-height: 0.5rem;padding:0.05rem}
.page1 .step1 p span{color: #fa111a}
.page1 .step2{text-align: center;}
.page1 .step2 h2{line-height: 0.7rem;font-size: 0.36rem;}
.page1 .step2 .time{color: #c23232;font-size: 0.7rem;font-weight: bold;margin-bottom: 0.5rem;}
.title1{height: 1.4rem;color:#000;text-align: center;}
.title1 h1{line-height:1.4rem;font-size: 0.44rem;font-weight: bold;text-shadow: 0px 1px 1px rgba(0,0,0,0.4);}
.title1 h3{font-size: 0.36rem;line-height: 0.6rem;font-weight: bold;padding-top: 0.2rem}
.title1 h4{font-size: 0.3rem;line-height: 0.5rem;}
.page2{position: relative;}
.page2 .list_icon{overflow: hidden;}
.page2 .list_icon ul{width:100%;overflow: hidden;margin-left: -0.02rem}
.page2 .list_icon li{float: left;width: 2.48rem;height:3.5rem;margin-right:-0.02rem;margin-top: -0.02rem; }

.page2 .list_icon li span{display: block;width: 0.95rem;  height: 0.95rem;margin:0.45rem auto 0;}
.page2 .list_icon li .icon1{background:url(./icon-1.png)no-repeat;background-size: cover;}
.page2 .list_icon li img{
	width:0.6rem;
	height:0.6rem;
	margin-top:0.3rem;
}
.page2 .list_icon li .icon2{background:url(./icon-2.png)no-repeat;background-size: cover;}
.page2 .list_icon li .icon3{background:url(./icon-3.png)no-repeat;background-size: cover;}
.page2 .list_icon li .icon4{background:url(./icon-4.png)no-repeat;background-size: cover;}
.page2 .list_icon li .icon5{background:url(./icon-5.png)no-repeat;background-size: cover;}
.page2 .list_icon li .icon6{background:url(./icon-6.png)no-repeat;background-size: cover;}
.page2 .list_icon li b{display: block;line-height:0.5rem ;font-size: 0.1rem;text-align: center;}
.page2 .list_icon li .dd{
	width:100%;
	font-size: 0.2rem;
	font-weight: bold;
}
.page2 .list_icon li .btnn{
	width:2rem;
	height:0.5rem;
	line-height: 0.5rem;
	font-size: 0.2rem;
	color:#fff;
	background-color:rgb(89, 167, 223);
	text-align: center;
	border-radius: 0.25rem;
	display: inline-block;
	cursor: pointer;
	margin-top:0.1rem;
}
.page3{background: url(../images/gray.png) no-repeat,
	url(../images/gray.png) no-repeat,
	url(../images/gray.png) no-repeat,
	url(../images/gray.png) no-repeat,
	url(../images/gray.png) no-repeat;
	background-position: -1.8rem 3.08rem, -3.08rem 5.0rem, 6.5rem 2.1rem,  6.98rem 9.06rem, 7.44rem 1.054rem;
	background-size: 3.6rem auto,6.0rem auto,3.52rem auto,2.56rem auto,1.64rem auto;
	overflow: hidden;}
.page3 .title3{width: 6.86rem;height: 2.7rem;font-size: 0.72rem;background-position: 0 -4.9rem;text-align: center;margin: 0.5rem auto 0;}
.page3 .title3 h1{line-height: 1.0rem; font-weight: bold;padding-top: 0.4rem;}
.page3 .ct h3{text-align: center;font-size: 0.72rem}
.page3 .ct h2{font-size: 0.3rem;padding: 0.9rem 0 0.6rem 1.5rem;font-weight: bold;}
.page3 .ct .text{font-size: 0.3rem;line-height: 0.53rem;}
.page3 .ct .text p{padding-left: 1.5rem}
.page3 .ct .text p:nth-child(2){padding-bottom: 0.3rem}
.page3 .ct .text p em{color:#cc0208;font-weight: bold;}
.page3 .ct .text span{color:#cc0208;font-size: 1.1rem;line-height: 1.5rem;}
.title4{text-align: center;margin: 0.4rem 0.3rem 0.2rem;height: 1.2rem;overflow: hidden;
		background: url(../images/title-line-3.png) repeat-x,
		url(../image/title-l.png) no-repeat,
		url(../image/title-r.png) no-repeat;
		background-position:0 0.6rem, 0px 0.04rem, 6.18rem 0.62rem;
		background-size: 0.04rem auto,0.66rem auto,0.72rem auto;
}
.page4{overflow: hidden;}
.page4 .list_xl{padding: 0 0.3rem;}
.page4 .list_xl ul{width: 100%;overflow: hidden;padding-top: 0.5rem}
.page4 .list_xl li{height:2.12rem; overflow: hidden; margin-bottom: 0.35rem;width: 3.3rem;float: left;}
.page4 .list_xl .btn_w{width:3.3rem;overflow: hidden;}
.page4 .list_xl h3{float: left;font-size: 0.6rem;width: 3rem;color:#fff;line-height: 1.0rem;text-align: center;}
.page4 .list_xl .btn_w input{width: 1.24rem;height: 0.40rem;background: 0;border: 0;float: left;margin:0.35rem 0px 0 0.21rem;text-align: center;display: inline;}
.page4 .list_xl .yellow{background: url(./yellow.png) no-repeat;background-size: 100%;float: right;}
.page4 .list_xl .pink{background: url(./pink.png) no-repeat;background-size: 100%}
.page4 .list_xl .org{background: url(./org.png) no-repeat;background-size: 100%}
.page4 .list_xl .blue{background: url(./blue.png) no-repeat;background-size: 100%;float: right;}
.page4 .text {font-size: 0.23rem;text-align: center;padding:0 0 0.9rem;line-height: 0.33rem;margin-top: -0.3rem}
.page4 .text b{color:#ff0707;font-size: 0.25rem;font-weight: bold;}

.page5 .step1{overflow: hidden;padding:0 0.3rem;}
.page5 .step1 ul{overflow: hidden;padding-top: 0.5rem}
.page5 .step1 li{overflow:hidden;width: 3.3rem;height: 1.9rem;color:#fff;position: relative;float: left;border-radius: 0.1rem;margin-bottom: 0.3rem}
.page5 .step1 li.s1{background: url(../images/img1.jpg) no-repeat;background-size: 100% auto;}
.page5 .step1 li.s2{background: url(../images/img2.jpg) no-repeat;background-size: 100% auto;float: right;}
.page5 .step1 li.s3{background: url(../images/img3.jpg) no-repeat;background-size: 100% auto;}
.page5 .step1 li.s4{background: url(../images/img4.jpg) no-repeat;background-size: 100% auto;float: right;}
.page5 .step1 li h2{display: block;font-size: 0.3rem;padding:0.15rem;}
.page5 .step1 li h3{display: block;font-size: 0.3rem;padding: 0.2rem;}
.page5 .step1 li a{position: absolute;bottom: 0.2rem;right: 0.2rem;font-size: 0.2rem;color: #fff;}
.page5 .step2{border-radius: 0.1rem;background: #fafafa;box-shadow:0px 2px 2px rgba(0,0,0,0.2);margin: 0.2rem 0.3rem 0;position: relative;}
.page5 .step2:before{position: absolute;width: 0.3rem;height:0.3rem;background: #fafafa;content: "";left: 50%;bottom: -0.15rem;box-shadow:2px 2px 4px rgba(0,0,0,0.2);transform: rotate(45deg);margin-left: -0.15rem}
.page5 .step2 h2{font-weight: bold;height: 0.36rem;text-align: center;font-size: 0.36rem;padding: 0.4rem 0 0.23rem;}
.page5 .step2 .text_b{font-size: 0.24rem;line-height: 0.36rem;text-align: center;}
.page5 .step2 .text_b a{display: block;padding: 0.3rem 0;color:#cc0208;font-size: 0.45rem;line-height: 0.5rem;text-align: center;}
.page5 .step2 .btn .w50{width: 47%;float: left;}
.page6 .title5 {width: 100%;height:1.7rem;background: url(../images/title.jpg) no-repeat;background-size: 100% auto;}
.page6 .title5 h1{line-height: 1.7rem;font-size: 0.6rem;text-align: center;color: #fff;font-weight: bold;}
.page6 .title5 b{background: #fffd3c;color:#0093cc;padding: 0.1rem;}
.page6 .list{padding-left: 0.3rem;overflow: hidden;}
.page6 .list dl{background:#fcfcfc;float: left;width: 45%;border-left: 3px solid #333;margin-right: 4%;height: 1.58rem;margin-top: 0.2rem;}
.page6 .list dl.green{border-left: 3px solid #0be289;}
.page6 .list dl.yellow{border-left: 3px solid #ffe085;}
.page6 .list dl.red{border-left: 3px solid #ff6b6a;}
.page6 .list dl.zi{border-left: 3px solid #8880fe;}
.page6 .list dl span{float: left;width: 0.75rem;height: 0.74rem;margin:0.16rem 0px 0 0.14rem;}
/* .page6 .list dl span.icon1{background-position: 0px -3.88rem;}
.page6 .list dl span.icon2{background-position: -0.9rem -3.88rem;}
.page6 .list dl span.icon3{background-position: -1.8rem -3.88rem;}
.page6 .list dl span.icon4{background-position: -2.66rem -3.88rem;}
.page6 .list dl span.icon5{background-position: -3.5rem -3.88rem;}
.page6 .list dl span.icon6{background-position: -4.38rem -3.88rem;}
.page6 .list dl span.icon7{background-position: -5.26rem -3.88rem;}
.page6 .list dl span.icon8{background-position: -6.12rem -3.88rem;} */
.page6 .list dt{font-size: 0.27rem;font-weight: bold;padding:0.2rem 0.1rem 0 1.0rem;line-height: 0.35rem}
.page6 .list dd{font-size: 0.24rem;padding:0 0.1rem 0 1.0rem;line-height: 0.3rem}
.page7 .list_wt {padding:0.4rem 0.3rem 0;}
.page7 .list_wt li{line-height: 0.7rem;font-size: 0.28rem;overflow: hidden;border-bottom: 0.02rem dashed  #f1f6f9}
.page7 .list_wt li p{float: left;padding-left: 0.1rem;}
.page7 .list_wt li .huoqu{ border:0;width: 1.52rem;height: 0.5rem;line-height: 0.5rem;float: right;color: #fff;background: #0abbfc;box-shadow:0px 0.04rem 0.2rem rgba(32,161,249,0.4);border-radius: 0.25rem;margin: 0.1rem 0 0 0;padding: 0;}

.page8{ padding-bottom: 1.6rem }
.page8 .text_w{border-radius: 0.1rem;background: #fafafa;box-shadow:0px 2px 2px rgba(0,0,0,0.2);margin: 0.5rem 0.3rem 0;position: relative; padding-top: 0.3rem; padding-bottom: 0.34rem }
.page8 .text_w:before{position: absolute;width: 0.3rem;height:0.3rem;background: #fafafa;content: "";left: 50%;bottom: -0.15rem;box-shadow:2px 2px 4px rgba(0,0,0,0.2);transform: rotate(45deg);margin-left: -0.15rem}
.page8 .text_w h3{color:#ac2524;font-weight: bold;font-size: 0.4rem; text-align:center; padding-bottom: 0.22rem; }
.page8 .text_w p{font-size: 0.26rem;line-height: 0.44rem; text-indent: 0.52rem; padding: 0 0.44rem;  }
.page8 .t1{text-align: center;font-size: 0.3rem;line-height: 0.5rem; margin-top: -0.4rem}
.page8 .logo{width: 2.3rem;height: 1.3rem;background: url(../images/logo-block.png) no-repeat;
    background-size: 100%;margin: 0.4rem auto;}
.page8 .btn_g{margin:0 0.3rem;background: #1ba7e4;border-radius:0.1rem;overflow: hidden;font-size: 0.3rem;    text-align: center;
    line-height: 0.6rem;
    color: #fff;
    padding-bottom: 0.1rem;}

.page8 .btn_g a{display: block;background: #fff;border-radius:0.1rem;color:#333;line-height: 0.6rem;margin: 0.1rem 0.1rem 0;}

.none{display: none;}
.bg{width: 100%;height: 100%; position: absolute;left: 0; top:0; z-index: 100; background: #000;opacity: 0.7;}
.slidePage-container {z-index: 1111;}
.page1 .top .f2 {
    -webkit-animation: float ease-in-out 6s infinite;
    animation: float ease-in-out 6s infinite;
}
@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0.2rem);
    }
    100% {
      transform: translateY(0);
    }
}
.page1 .top .f1 {
    -webkit-animation: floatt ease-in-out 6s infinite;
    animation: floatt ease-in-out 6s infinite;
}
@keyframes floatt {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.2rem);
    }
    100% {
      transform: translateY(0);
    }
}
.page11{
	width:100%;
	height:5rem;
	overflow: hidden;
}
.page11 .biao{
	height: 1.4rem;color:#000;text-align: center;
}
.page11 .biao h1{
	line-height:1.4rem;font-size: 0.35rem;font-weight: bold;text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}
.page11 .biao form input{
	width:80%;
	height:0.8rem;
	border:1px solid rgb(89, 167, 223);
	border-radius: 0.08rem;
	margin-bottom: 0.3rem;
	text-indent: 1em;
	outline: none;
}
.page11 .biao form .tijiao{
	width:80%;
	height:0.8rem;
	line-height: 0.8rem;
	font-size: 0.3rem;
	color:#fff;
	text-align: center;
	cursor: pointer;
	margin:0 auto;
	background-color:rgb(89, 167, 223);
	border-radius: 0.08rem;
}
.footer{
	width:100%;
	height:2rem;
	overflow: hidden;
	background-color:#000;
}
.footer .footer-1{
	font-size: 0.24rem;
	color:#fff;
	height:0.5rem;
	line-height: 0.5rem;
}
.footer .footer-2 .title{
	font-size: 0.24rem;
	color:#fff;
	height:0.5rem;
	line-height: 0.5rem;
}
.footer .footer-2 ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer .footer-2 li{
	width:50%;
	height:0.4rem;
	line-height: 0.4rem;
	font-size: 0.20rem;
	color:#fff;
	text-align: center;
}
.footer .footer-3{
	font-size: 0.24rem;
	color:#fff;
	height:0.5rem;
	line-height: 0.5rem;
}
.page-tu{
	width:100%;
	height:auto;
	overflow: hidden;
}
.page-tu .title{
	font-size: 0.24rem;
	color:#000;
	height:0.5rem;
	line-height: 0.5rem;
}
.page-tu ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.page-tu ul li{
	width:22%;
	text-align: center;
	margin-bottom: 0.1rem;
}
.page-tu ul li img{
	width:100%;
}