*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    max-width: 750px;
    height: auto;
    margin: 0 auto;
    position: relative;
}
.bg1{
    width: 100%;
    height: auto;
}
.Sem_App_Img{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 32%;
}
.btn_bottom{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    height: auto;
    position: fixed;
    bottom: 0;
    z-index: 9999;
}
.btn_bottom .b_click{
    position: absolute;
    width: 34%;
    height: 50%;
    left: 60%;
    top: 20%;
    z-index: 9999999999999999;
}
.btn_bottom img{
    width: 100%;
    height: auto;
}
.btn_top{
    position: absolute;
    width: 70%;
    height: 4%;
    left: 15%;
    top: 23%;
    z-index: 999;
}
.btn_top2{
    position: absolute;
    width: 93%;
    height: 6%;
    left: 3%;
    top: 90.5%;
    z-index: 999;
}