html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.header{
    width: 100%;
    height: auto;
    max-width: 750px;
    margin: 0 auto;
    position: relative;
}
.header .bj{
    width: 100%;
    height: auto;
}
.swiper-slide>img{
    width: 100%;
    height: auto;
}
.lb{
    width: 33%;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 39.3%;
    left: 34%;
    z-index: 9999;
    border-radius: 5px;
}
.lb_left{
    left: 108%!important;
    top: 47%!important;
    width: 18%!important;
    height: 27%!important;
    background: 0,0,0,0;
    outline: none;
}
.lb_right{
    left: -31%!important;
    top: 47%!important;
    width: 18%!important;
    height: 27%!important;
    background: 0,0,0,0;
    outline: none;
}
.bottom_btn{
    position:fixed;
    margin:0 auto;
    bottom:0px;
    left:0;
    right:0;
    max-width: 750px;
    width: 100%;
    z-index: 99999;
}
.bottom_btn img{
    width: 100%;
    height: auto;
}
.bottom_click{
    position: absolute;
    width: 38%;
    height: 62%;
    left: 60%;
    top: 20%;
    z-index: 99999;
}

.btns{
    position: absolute;
    width: 200%;
    height: 27%;
    left: -43%;
    top: 137%;
    z-index: 999;
}


















