@charset "utf-8";
/* reset */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0;}
body{min-width:320px;font-size: 0em;font-family:'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;color:#051b28;-webkit-text-size-adjust:none; background-color:#eee;}
img,fieldset{border:0;}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
em,address{font-style:normal;}
a{color:#000;text-decoration:none;}

.bottom_fd{ position:fixed; height:52px;  z-index:99999999999; _position:absolute; bottom:0; left:0; width:100%;;filter:Alpha(opacity=60);  }
.bottom_btn a{ display:block; color:#fff; height:52px;  text-align:center;  border-radius:25px;}
.bottom_btn a em{ color:#FFF600;}

.boxPic  {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}

.boxPic img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.boxPic1  {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}
.boxPic1 img {
    width: 90%;
    display: block;
    margin: 0 auto;
}
.boxPic2  {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}
.boxPic2 img {
    width: 90%;
    display: block;
    margin: 0 auto;
}