@import url("public.css");
@import url("bm.css");


#logo { text-align:center; width:100%; overflow:hidden; }
#logo img { height:2.5em; margin:1em 0px;}

#nav { position:relative; z-index:1; overflow:hidden; margin-bottom:1.5em;}
#nav ul { margin:0px 1em; overflow:auto; zoom:1;}
/*#nav ul::-webkit-scrollbar {display: none;white-space: nowrap; overflow-x:scroll;}*/
#nav ul li { float:left; width:25%; overflow:hidden;}
#nav ul li a { display:block; text-align:center; margin:0px 1em;  -moz-border-radius:500px;-webkit-border-radius:500px; border-radius:500px;}
#nav ul li a p { line-height:1; padding:0.5em 0px; white-space:nowrap; overflow:hidden;}
#nav ul li a img { width:80%; border-radius:500px;-moz-border-radius:500px;-webkit-border-radius:500px;border:0.3em solid #6889a4;}

#banner { width:100%; overflow:hidden;}
#banner img { width:100%;}





h6 { font-size:1.8em; line-height:1; padding-left:0.7em; color:#444444; margin:1.2em 0px; border-left:0.3em solid #4573c8;}
h6.o { color:white; border-color:white;}
a.pc {display:inline-block; margin:0px auto; padding:2px 10px;margin-top:10px; background:#f3cb13; color:#6c3602; font-size:1.2em;font-size:12px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}

#hzyx ul { margin:0px 1em 0px 1em;overflow:auto; zoom:1;}
#hzyx ul li {  position:relative; z-index:1; height:8em;  padding:1.5em 0px 1.5em 11em; border-bottom:1px dotted #c3c3c3; overflow:hidden;}
#hzyx ul li a.nr { color:#888888; display:block;overflow:hidden;}
#hzyx ul li a.nr img { width:10em; height:8em; position:absolute; z-index:2; left:0px; top:1.5em;}
#hzyx ul li a.nr span { color:#444444; display:block; font-size:1.4em; line-height:1.2; margin-bottom:0.5em; font-weight:bold; } 
#hzyx ul li a.nr p { height:3.2em; line-height:1.8; overflow:hidden;}
#hzyx ul li .zx { position: absolute; z-index:2; bottom:1.9em; left:11em;}
#hzyx ul li .zx a { color:#9cacd1; line-height:1; padding:0.25em 1em; background:#f1f5fe; margin-right:1em;}
