div,form,ol,ul,li,dl,dt,dd,span,p,img{margin: 0px;padding: 0px;border: 0px;}
body{padding: 0; color:#333; font-family: "Microsoft YaHei",Arial, Helvetica, sans-serif ;font-size: 12px;margin: 0 auto;word-wrap: break-word;word-break: break-all;-webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing: auto;-webkit-text-size-adjust:none; }
h1,h2,h3,h4,h5{font-family:"Microsoft YaHei", Arial, Helvetica, sans-serif ;word-wrap: break-word;word-break: break-all;-webkit-font-smoothing:antialiased;margin: 0px;padding: 0px; font-weight:600;}
img{vertical-align: middle;}
fieldset{border: none 0;}
a{text-decoration: none;outline: none; color:#434343;}
a:hover{ color:#cd0000;star: expression(this.onFocus=this.blur());}
:focus{outline: 0;}
li{list-style: none;}
input, label, select, option, textarea, button, fieldset, legend{font-size: 14px;font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif ;}
.clear{line-height: 0;font-size: 0;clear: both;height: 0;}
.clearfix:before,.clearfix:after{ 
    content:""; 
    display:table; 
} 
.clearfix:after{clear:both;} 
.clearfix{ 
    *zoom:1;/*IE/7/6*/
}

.hide{display:none;}
.show{display:block;}
.marL10 {margin-left: 10px;}

html[xmlns] .clearfix{display:block;}
html,body{ font-size:14px;}
*html .clearfix{height:1%;}
.fl{float: left;}
.fr{float: right;}
.undis{DISPLAY: none}
.pic_all{overflow: hidden;text-indent: -9999em;display: block;}
.pic_all span{vertical-align: middle}
.hidden{display: none}
.all_pic { display:block; overflow:hidden; text-indent:-999em;}
s.allIcon {display: inline-block;vertical-align: middle;text-decoration: line-through;}
.img_Fillet {-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius:50%; }
.box_Fillet60 {-moz-border-radius: 60px;-webkit-border-radius: 60px;border-radius:60px;  }
.box_Fillet20 {-moz-border-radius: 20px;-webkit-border-radius: 20px;border-radius:20px;  }
.box_Fillet10 {-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius:10px;  }
.box_Fillet5 {-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius:5px;  }
.box_Fillet3 {-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius:3px; }
.black_10 { height:10px; clear:both;}
.black { height:15px; clear:both;}
.black_20 { height:20px; clear:both;}


.colblue { color:#172c45;}
.colgreen { color:#129800;}
.colred { color:#C50505;}
.colorange { color:#ff9900;}
.col999 { color:#999;}
.col666 { color:#666;}
.col333 { color:#333;}
.font_weight{ font-weight:900}


.w { width:1000px; margin:0 auto}
.w_1200 { width:1200px; margin:0 auto}



.box-shadow{  
  -webkit-box-shadow:0 0 10px #0CC;  
  -moz-box-shadow:0 0 10px #0CC;  
  box-shadow:0 0 10px #0CC;  
}   



/*inputå…¬ç”¨*/
.input_all,.textarea_all {line-height:38px;border:solid #ccc 1px;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius:3px; text-indent:5px;}
.input_all { height:38px;}
.textarea_all {}

/*æ–‡å­—å¯¹é½*/
div{text-align:justify; text-justify:inter-ideograph}





/* æ»‘åŠ¨é—¨åŸºç¡€css */
.box{margin:0;}
.tab_box{padding:0;}
.tab_box li{overflow:hidden;}
.tab_box .hide{display:none;}



/* èƒŒæ™¯é€æ˜Ž */
.box_bg80{background:rgba(0,0,0,0.8); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#8F000000,endcolorstr=#8F000000);}
.box_bg60{background:rgba(0,0,0,0.6); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#6F000000,endcolorstr=#6F000000);}
.box_bg40{background:rgba(0,0,0,0.4); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4F000000,endcolorstr=#4F000000);}
.box_bg20{background:rgba(0,0,0,0.2); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#2F000000,endcolorstr=#2F000000);}

