
* {
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		list-style-type: none;
}
body {
		font-family: "Avenir", Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		border: 0;
		font-weight: normal;
		vertical-align: baseline;
}
li {
    list-style: none;
}

.container-wrapper .title[data-v-07498932] {
  font-weight: 700;
  position: relative;
  padding: 0.4rem 0.35rem 0.8rem;
  font-size: 0.4rem;
}
.container-wrapper .title .type[data-v-07498932] {
  position: absolute;
  left: 0.35rem;
  bottom: 0.2rem;
  font-size: 0.2rem;
  border: 1px solid #5b98f9;
  color: #5b98f9;
  border-radius: 0.15rem;
  padding: 0.01rem 0.15rem;
  font-weight: 200;
  line-height: 0.36rem;
}
.container-wrapper .content-novel[data-v-07498932] {
  padding: 0.2rem 0.25rem;
}
.container-wrapper .content-novel p[data-v-07498932] {
  text-indent: 1.5em;
  color: #000;
  line-height: 0.5rem;
  font-size: 0.32rem;
}
.container-wrapper .content-novel p.tang-text[data-v-07498932] {
  margin-bottom: 0.3rem;
}
.container-wrapper .btn[data-v-07498932] {
  background-color: #ee3f60;
  color: #fff;
  font-weight: 700;
  width: 80%;
  margin: 0.1rem auto 0.3rem;
  text-align: center;
  border-radius: 0.08rem;
  line-height: 0.7rem;
  font-size: 0.3rem;
}
.container-wrapper .btn-tang[data-v-07498932] {
  color: #4b93f5;
  text-align: center;
  font-size: 0.33rem;
  padding: 0.25rem 0;
}
.container-wrapper .hot-novel[data-v-07498932] {
  font-weight: 700;
  font-size: 0.3rem;
  line-height: 0.6rem;
  position: relative;
  padding-left: 0.15rem;
}
.container-wrapper .hot-novel[data-v-07498932]::before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.06rem;
  content: "";
  height: 0.32rem;
  background-color: #c51011;
}
.container-wrapper .tang-more[data-v-07498932] {
  background-color: #2f76ea;
  text-align: center;
  color: #fff;
  font-size: 0.32rem;
  line-height: 0.66rem;
  border-radius: 0.1rem;
  margin: 0.2rem 0 0.1rem 0;
}
.container-wrapper .title[data-v-5288d7ec] {
  font-weight: 700;
  position: relative;
  padding: 0.4rem 0.35rem 0.8rem;
  font-size: 0.4rem;
}
.container-wrapper .title .type[data-v-5288d7ec] {
  position: absolute;
  left: 0.35rem;
  bottom: 0.2rem;
  font-size: 0.2rem;
  border: 1px solid #5b98f9;
  color: #5b98f9;
  border-radius: 0.15rem;
  padding: 0.01rem 0.15rem;
  font-weight: 200;
  line-height: 0.36rem;
}
.container-wrapper .content-novel[data-v-5288d7ec] {
  padding: 0.2rem 0.25rem;
}
.container-wrapper .content-novel p[data-v-5288d7ec] {
  text-indent: 1.5em;
  color: #000;
  line-height: 0.5rem;
  font-size: 0.32rem;
}
.container-wrapper .content-novel p.tang-text[data-v-5288d7ec] {
  margin-bottom: 0.3rem;
}
.container-wrapper .btn[data-v-5288d7ec] {
  background-color: #ee3f60;
  color: #fff;
  font-weight: 700;
  width: 80%;
  margin: 0.1rem auto 0.3rem;
  text-align: center;
  border-radius: 0.08rem;
  line-height: 0.7rem;
  font-size: 0.3rem;
}
.container-wrapper .btn-tang[data-v-5288d7ec] {
  color: #4b93f5;
  text-align: center;
  font-size: 0.33rem;
  padding: 0.25rem 0;
}
.container-wrapper .hot-novel[data-v-5288d7ec] {
  font-weight: 700;
  font-size: 0.3rem;
  line-height: 0.6rem;
  position: relative;
  padding-left: 0.15rem;
}
.container-wrapper .hot-novel[data-v-5288d7ec]::before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.06rem;
  content: "";
  height: 0.32rem;
  background-color: #c51011;
}
.container-wrapper .tang-more[data-v-5288d7ec] {
  background-color: #2f76ea;
  text-align: center;
  color: #fff;
  font-size: 0.32rem;
  line-height: 0.66rem;
  border-radius: 0.1rem;
  margin: 0.2rem 0 0.1rem 0;
}
.container-wrapper .title[data-v-93093db4] {
  font-weight: 700;
  position: relative;
  padding: 0.4rem 0.35rem 0.8rem;
  font-size: 0.4rem;
}
.container-wrapper .title .type[data-v-93093db4] {
  position: absolute;
  left: 0.35rem;
  bottom: 0.2rem;
  font-size: 0.2rem;
  border: 1px solid #5b98f9;
  color: #5b98f9;
  border-radius: 0.15rem;
  padding: 0.01rem 0.15rem;
  font-weight: 200;
  line-height: 0.36rem;
}
.container-wrapper .content-novel[data-v-93093db4] {
  padding: 0.2rem 0.25rem;
}
.container-wrapper .content-novel p[data-v-93093db4] {
  text-indent: 1.5em;
  color: #000;
  line-height: 0.5rem;
  font-size: 0.32rem;
}
.container-wrapper .content-novel p.tang-text[data-v-93093db4] {
  margin-bottom: 0.3rem;
}
.container-wrapper .btn[data-v-93093db4] {
  background-color: #ee3f60;
  color: #fff;
  font-weight: 700;
  width: 80%;
  margin: 0.1rem auto 0.3rem;
  text-align: center;
  border-radius: 0.08rem;
  line-height: 0.7rem;
  font-size: 0.3rem;
}
.container-wrapper .btn-tang[data-v-93093db4] {
  color: #4b93f5;
  text-align: center;
  font-size: 0.33rem;
  padding: 0.25rem 0;
}
.container-wrapper .hot-novel[data-v-93093db4] {
  font-weight: 700;
  font-size: 0.3rem;
  line-height: 0.6rem;
  position: relative;
  padding-left: 0.15rem;
}
.container-wrapper .hot-novel[data-v-93093db4]::before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.06rem;
  content: "";
  height: 0.32rem;
  background-color: #c51011;
}
.container-wrapper .tang-more[data-v-93093db4] {
  background-color: #2f76ea;
  text-align: center;
  color: #fff;
  font-size: 0.32rem;
  line-height: 0.66rem;
  border-radius: 0.1rem;
  margin: 0.2rem 0 0.1rem 0;
}
.container-wrapper .title[data-v-274d9511] {
  font-weight: 700;
  position: relative;
  padding: 0.4rem 0.35rem 0.8rem;
  font-size: 0.4rem;
}
.container-wrapper .title .type[data-v-274d9511] {
  position: absolute;
  left: 0.35rem;
  bottom: 0.2rem;
  font-size: 0.2rem;
  border: 1px solid #5b98f9;
  color: #5b98f9;
  border-radius: 0.15rem;
  padding: 0.01rem 0.15rem;
  font-weight: 200;
  line-height: 0.36rem;
}
.container-wrapper .content-novel[data-v-274d9511] {
  padding: 0.2rem 0.25rem;
}
.container-wrapper .content-novel p[data-v-274d9511] {
  text-indent: 1.5em;
  color: #000;
  line-height: 0.5rem;
  font-size: 0.32rem;
}
.container-wrapper .content-novel p.tang-text[data-v-274d9511] {
  margin-bottom: 0.3rem;
}
.container-wrapper .btn[data-v-274d9511] {
  background-color: #ee3f60;
  color: #fff;
  font-weight: 700;
  width: 80%;
  margin: 0.1rem auto 0.3rem;
  text-align: center;
  border-radius: 0.08rem;
  line-height: 0.7rem;
  font-size: 0.3rem;
}
.container-wrapper .btn-tang[data-v-274d9511] {
  color: #4b93f5;
  text-align: center;
  font-size: 0.33rem;
  padding: 0.25rem 0;
}
.container-wrapper .hot-novel[data-v-274d9511] {
  font-weight: 700;
  font-size: 0.3rem;
  line-height: 0.6rem;
  position: relative;
  padding-left: 0.15rem;
}
.container-wrapper .hot-novel[data-v-274d9511]::before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.06rem;
  content: "";
  height: 0.32rem;
  background-color: #c51011;
}
.container-wrapper .tang-more[data-v-274d9511] {
  background-color: #2f76ea;
  text-align: center;
  color: #fff;
  font-size: 0.32rem;
  line-height: 0.66rem;
  border-radius: 0.1rem;
  margin: 0.2rem 0 0.1rem 0;
}
.container-wrapper .title[data-v-55d09740] {
  font-weight: 700;
  position: relative;
  padding: 0.4rem 0.35rem 0.8rem;
  font-size: 0.4rem;
}
.container-wrapper .title .type[data-v-55d09740] {
  position: absolute;
  left: 0.35rem;
  bottom: 0.2rem;
  font-size: 0.2rem;
  border: 1px solid #5b98f9;
  color: #5b98f9;
  border-radius: 0.15rem;
  padding: 0.01rem 0.15rem;
  font-weight: 200;
  line-height: 0.36rem;
}
.container-wrapper .content-novel[data-v-55d09740] {
  padding: 0.2rem 0.25rem;
}
.container-wrapper .content-novel p[data-v-55d09740] {
  text-indent: 1.5em;
  color: #000;
  line-height: 0.5rem;
  font-size: 0.32rem;
}
.container-wrapper .content-novel p.tang-text[data-v-55d09740] {
  margin-bottom: 0.3rem;
}
.container-wrapper .btn[data-v-55d09740] {
  background-color: #ee3f60;
  color: #fff;
  font-weight: 700;
  width: 80%;
  margin: 0.1rem auto 0.3rem;
  text-align: center;
  border-radius: 0.08rem;
  line-height: 0.7rem;
  font-size: 0.3rem;
}
.container-wrapper .btn-tang[data-v-55d09740] {
  color: #4b93f5;
  text-align: center;
  font-size: 0.33rem;
  padding: 0.25rem 0;
}
.container-wrapper .hot-novel[data-v-55d09740] {
  font-weight: 700;
  font-size: 0.3rem;
  line-height: 0.6rem;
  position: relative;
  padding-left: 0.15rem;
}
.container-wrapper .hot-novel[data-v-55d09740]::before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.06rem;
  content: "";
  height: 0.32rem;
  background-color: #c51011;
}
.container-wrapper .tang-more[data-v-55d09740] {
  background-color: #2f76ea;
  text-align: center;
  color: #fff;
  font-size: 0.32rem;
  line-height: 0.66rem;
  border-radius: 0.1rem;
  margin: 0.2rem 0 0.1rem 0;
}
.container-wrapper .title[data-v-146b78e9] {
  font-weight: 700;
  position: relative;
  padding: 0.4rem 0.35rem 0.8rem;
  font-size: 0.4rem;
}
.container-wrapper .title .type[data-v-146b78e9] {
  position: absolute;
  left: 0.35rem;
  bottom: 0.2rem;
  font-size: 0.2rem;
  border: 1px solid #5b98f9;
  color: #5b98f9;
  border-radius: 0.15rem;
  padding: 0.01rem 0.15rem;
  font-weight: 200;
  line-height: 0.36rem;
}
.container-wrapper .content-novel[data-v-146b78e9] {
  padding: 0.2rem 0.25rem;
}
.container-wrapper .content-novel p[data-v-146b78e9] {
  text-indent: 1.5em;
  color: #000;
  line-height: 0.5rem;
  font-size: 0.32rem;
}
.container-wrapper .content-novel p.tang-text[data-v-146b78e9] {
  margin-bottom: 0.3rem;
}
.container-wrapper .btn[data-v-146b78e9] {
  background-color: #ee3f60;
  color: #fff;
  font-weight: 700;
  width: 80%;
  margin: 0.1rem auto 0.3rem;
  text-align: center;
  border-radius: 0.08rem;
  line-height: 0.7rem;
  font-size: 0.3rem;
}
.container-wrapper .btn-tang[data-v-146b78e9] {
  color: #4b93f5;
  text-align: center;
  font-size: 0.33rem;
  padding: 0.25rem 0;
}
.container-wrapper .hot-novel[data-v-146b78e9] {
  font-weight: 700;
  font-size: 0.3rem;
  line-height: 0.6rem;
  position: relative;
  padding-left: 0.15rem;
}
.container-wrapper .hot-novel[data-v-146b78e9]::before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.06rem;
  content: "";
  height: 0.32rem;
  background-color: #c51011;
}
.container-wrapper .tang-more[data-v-146b78e9] {
  background-color: #2f76ea;
  text-align: center;
  color: #fff;
  font-size: 0.32rem;
  line-height: 0.66rem;
  border-radius: 0.1rem;
  margin: 0.2rem 0 0.1rem 0;
}.img-bl{
  width: 100%;
  display: block;

}
.not-event{
  pointer-events: none;
}
