html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  vertical-align:baseline;
}
blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:""; content:none;}

ins { background-color:#ff9; color:#000; text-decoration:none;}

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold;}

del { text-decoration:line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help;}

table { border-collapse:collapse; border-spacing:0;}

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0;}

input, select { vertical-align:middle; }

@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* 去除iPhone中默认的input样式 */
input[type="submit"],

input[type="reset"],

input[type="button"],

input{-webkit-appearance:none; resize: none;}
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article, 
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
display: block;
}
/* 图片自适应 */
img {
max-width: 100%;
height: auto;
width:auto\9; /* ie8 */
-ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
}
/* 初始化 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article, 
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{margin:0; padding:0;}
body{font-family: Hiragino Sans GB, Microsoft YaHei, "Helvetica Neue", Helvetica, Arial, sans-serif;}

em,i{font-style:normal;}
strong{font-weight: normal;}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none; color:#8B8B8B; font-family: Hiragino Sans GB(W3),Hiragino Sans GB,'宋体',Microsoft YaHei,Tahoma,Arial,sans-serif;display: block;}
a:hover{text-decoration:none;}
ul,ol{list-style:none;}
*{box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.picBox{
			font-size: 0;
			max-width: 100%;
			margin: 0 auto;
		}
.picBox img{
    display: block;
    width: 100%;
}
.top{
    position: relative;
}
.download{
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%); 
}
.copyRight{
	text-align:center;
	font-size:0.6rem;
}
