*{padding: 0;margin:0;}
    html,body{width: 100%;height: 100%;}
    img{border:none;display: block;} 
    div{width: 100%;}
    div >img{width: 100%;vertical-align: bottom;}
    .header{width: 100%;position: absolute;top:0;left: 0;height: 6rem;z-index: 2;}
    .main{position: absolute;top:6rem;bottom: 5rem;left: 0;overflow: auto;}
    .footer{width: 100%;position: absolute;bottom:0;left: 0;height: 5rem;z-index: 2;}
    .header img,.footer img{height:100%;}
    .swiper-button-next, .swiper-button-prev{
        top:68%;
    }
    .swiper-button-prev{
        background-image: url("../down_page_2_files/left.png");
        background-size: 100%;
    }
    .swiper-button-next{
        background-image: url("../down_page_2_files/right.png");
        background-size: 100%;
    }
    @media (min-width: 768px){
        .header{height: 12rem;}
        .main{top:12rem;bottom: 10rem;}
        .footer{height: 10rem;}
    }