@charset "gb2312";
/* CSS Document */
body { margin:0px; font-size:16px;  font-family:"microsoft yahei","Verdana","ו"; color: #444444; background:#ffffff; line-height:1;}
body { behavior: url("css/hover.htc");}
*html { }
.doyoo_group_name { font-size:12px;}

ul,dl,dd,h1,h2,h3,h4,h5,h6,form,p { padding:0; margin:0;}
ul { list-style:none;}
img { border:0px;}
.fl { float:left;}
.fr { float:right;}
.clearfloat {clear:both;height:0; font-size: 1px;line-height: 0px;}

a { font-size:16px; color:#444444; text-decoration:none; font-family:"microsoft yahei","Verdana","ו";text-decoration:none;}
a:hover { color:red; cursor:pointer;filter:alpha(opacity=80); opacity:0.8;}

.clearfix:after { visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
.clearfix { zoom:1;}
.clearfloat { clear:both; height:0; font-size:1px; line-height:0px;}






