	body{
				font-family: "PingFangSC";
				background: #F8F8F9;
				color: #101D37;
				font-size: 17px;
    			line-height: 21px;
				-webkit-text-size-adjust: 100% !important;
				text-size-adjust: 100% !important;
				-moz-text-size-adjust: 100% !important;
				padding: 0;
				margin: 0;
			}
			ul,li{
				margin:0;
				padding: 0;
				list-style: none;
			}
			.bg_white{
				background: #fff;
			}
			.download_01{
				position: absolute;
				width: 100%;
				z-index: 2;
			}
			.download_01 img{
				width: 100%;
			}
			.download_02{
				position: absolute;
				width: 100%;
				top: 50px;
				bottom: 0;
				background: url("https://yh.cdnweb.top/hangyun/resource/images/down_03.jpg") bottom no-repeat;
				background-size: contain;
				z-index: 1;
			}
			#maskPointer{
				text-align: center;
				color: #fff;
			}
			#maskPointer .arrow{
			    margin: 30px;
			    text-align: right;
			}
			#maskPointer .arrow img{
				width: 80%;
			}
			#maskPointer .text {
			    font-size: 20px;
			    line-height: 36px;
			}
			#maskPointer .text span {
			    color: #fed700;
			}
			.channel_logo{
				position: absolute;
				width: 100%;
				bottom: 0;
				font-size: 12px;
				background: rgba(255,255,255,0.9);
				/*padding-left: 140px;*/
				text-align: center;
				padding-top: 10px;
				z-index: 2;
			}
			.channel_img{
				position: absolute;
				width: 100px;
				left: 30px;
				top: 20px;
			}