.banner{
    padding-top:1.33333rem;
    img{
        width:10rem;
    }
}
.content_title{
    font-size: 0.56rem;
    color:#333;
    font-weight: 900;
}
.d6{
    h2{text-align: center}
    .tit{
        font-size:0.34666rem;
        text-align: center;
        color:#666;
        line-height: 0.5rem;
        margin-bottom:0.5rem;
    }
    img{
        
        width:10rem;
    }
}
.d7{
    padding-top:1.33333rem;
    h2{text-align: center}
    .tit{
        font-size:0.34666rem;
        text-align: center;
        color:#666;
        line-height: 0.6rem;
    }
    img{
        margin:0.5rem 0;
        width:10rem;
    }
}
.d8{
    img{
        // margin:0.5rem 0;
        width:10rem;
    }
}
.d9{
    h2{
        text-align: center;
        margin-top:1.33333rem;
        margin-bottom:0.66666rem;
    }
    img{
        // margin:0.5rem 0;
        width:10rem;
    }
}
.d10{
    width:10rem;
    height:4.5rem;
    padding-top:0.7rem;
    background: #28d87b;
    text-align: center;
    .p1{
        font-size:0.74666rem;
        color:#fff;
    }
    .p2{
        font-size:0.61333rem;
        color:#fff;
        font-weight: 900;
    }
    button{
        width:7rem;
        height:1rem;
        background: #fff;
        color:#28d87b;
        border-radius:0.5rem;
        border:none;
    }
}