html{
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}
body{
  font-family:sans-serif;
  line-height:1.6;
  color:#333;
}
*{
  margin:0;
  padding:0;
}
a{
  text-decoration:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  background-color:transparent;
}
a:active,
a:hover,
a:focus{
  outline:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
html {
  font-size: 20px;
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 21.33333333px !important;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 22.08px !important;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 25.6px !important;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 22px !important;
  }
}
.page{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:100;
  overflow:auto;
  background:#f1f1f1;
}
.media-card{
  padding:1.175rem 0.5rem;
  position:relative;
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  overflow:hidden;
}
.media-fixed{
  margin-right:0.75rem;
  width:4.175rem;
  height:4.175rem;
  line-height:4.175rem;
  text-align:center;
}
.media-fixed>img{
  width:100%;
  max-height:100%;
  height:100%;
  vertical-align:top;
  display:block;
  border-radius:50%;
}
.media-grow{
  -webkit-box-flex:1;
  -webkit-flex:1;
  flex:1;
  overflow:hidden;
}
.media-title{
  font-weight:500;
  font-size:0.85rem;
  font-size:1.25rem;
  color:#000;
  line-height:1.56;
}
.media-title,
.media-text{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  word-wrap:break-word;
  word-break:break-all;
}
.media-text{
  color:#999;
  font-size:0.825rem;
  line-height:1.2;
}
.media-title span{
  font-size:0.825rem;
  color:#666;
  margin-left:0.75rem;
  padding-left:0.95rem;
  background:url(/images/girl.png)no-repeat left center;
  background-size:0.65rem auto;
}
.panel{
  background-color:#fff;
  position:relative;
  overflow:hidden;
  font-size:0.7rem;
  color:#333;
  padding-top:0.9rem;
}
.panel-header{
  position:relative;
  color:#000;
  line-height:1;
  padding:0.45rem 0.5rem;
}
.panel-header:after{
  content:"";
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  height:1px;
  background-color:#e5e5e5;
  -webkit-transform-origin:0 100%;
  transform-origin:0 100%;
  -webkit-transform:scaleY(0.5);
  transform:scaleY(0.5);
}
.panel-content-inner{
  padding:0.75rem 0.5rem 0.3rem 0.5rem;
}
.panel-content{
  font-size:0.95rem;
  padding:0.3rem 0.5rem 1.25rem 0.5rem;
  color:#666;
}
.grids{
  overflow:hidden;
  display:-webkit-flex;
  -webkit-justify-content:space-between;
  display:flex;
  justify-content:space-between;
}
.grids .grid{
  width:32%;
  box-sizing:border-box;
}
.grids .grid>img{
  width:100%;
  display:block;
}
.btn-area{
  padding:1.1rem 12% 0 12%;
}
.btn-area button{
  box-sizing:border-box;
  background:#fa6650;
  border:none;
  border-radius:0.3rem;
  padding:0.7rem 0.9rem;
}
.btn-area button img{
  width:100%;
  display:block;
}
.btn-area p{
  font-size:0.95rem;
  color:#fc583f;
  text-align:center;
  font-weight:500;
  line-height:2.28;
}
@media only screen and (max-height:480px){
  .media-card{
    padding:0.75rem 0.5rem;
  }
  .panel{
    padding-top:0;
  }
  .panel-content-inner{
    padding:0.5rem 0.5rem 0 0.5rem;
  }
  .panel-content{
    padding-bottom:0.3rem;
    font-size:0.75rem;
  }
  .btn-area{
    padding-top:0.75rem;
  }
  .btn-area button{
    padding:0.5rem 0.9rem;
  }
  .btn-area p{
    font-size:0.85rem;
  }
}







