<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<style>
			.myimg
			{
				vertical-align: bottom;
				width:100%;
				display:block;
				margin-top:-1px;
			}
			.myfixtop
			{
				position: fixed;
				left:0;
				top:0;
				z-index:99;
			}
			.mymargin
			{
				margin-top:10px;    /*距离顶部位置的像素距离*/
			}
			.alert_div{
				position: fixed;
				top: 15%;
				width: 75%;
				font-size: 40px;
				z-index: 2222;
				border-radius: 26px;
				margin-left: 7.5%;
				height: 54rem;
				display: none;
			}
			.text_div{
				padding-top: 15%;
				text-align: center;
				width: 100%;
			}
			.text_div img{
				width: 100%;
			}
			.receive_div{
				text-align: center;
				width: 100%;
				margin-top: -4%;
			}
			.receive_div img{
				width: 45%;
				cursor: pointer;
			}
			*{margin:0;}
		</style>
		<script src="js/jquery.min.js" tppabs="http://cdn-huoshu.fire2333.com/landpages/qyjh5/template/2002/js/jquery.min.js"></script>
    </head>
		<body style="background-color:rgb(0,0,0); width:100%">
	<div id='mydiv'>
	</div>
	<div class="alert_div">
		<div class="text_div"><img src="img2/2.png" tppabs="http://cdn-huoshu.fire2333.com/landpages/qyjh5/template/2002/img2/2.png" alt=""></div>
		<div class="receive_div"><img src="img2/3.jpg" tppabs="http://cdn-huoshu.fire2333.com/landpages/qyjh5/template/2002/img2/3.jpg" alt="" class="download_img"></div>
	</div>
	</body>
	
	<script type="text/javascript">
		var gameId = '3000033';
		var landingPageId = '2002';
		var isDetainment = '';
		var fromType = getUrlParam('from_type');
		var downloadArray = [0,2,6];
		var hrefArray = [1, 2, 3, 4, 5,6,7];
        var imageSrcArray = ['img/1.jpg'/*tpa=http://cdn-huoshu.fire2333.com/landpages/qyjh5/template/2002/img/1.jpg*/, 'img/2.jpg'/*tpa=http://cdn-huoshu.fire2333.com/landpages/qyjh5/template/2002/img/2.jpg*/,'img/3.jpg'/*tpa=http://cdn-huoshu.fire2333.com/landpages/qyjh5/template/2002/img/3.jpg*/, 'img/4.jpg'/*tpa=http://cdn-huoshu.fire2333.com/landpages/qyjh5/template/2002/img/4.jpg*/, 'img/5.jpg'/*tpa=http://cdn-huoshu.fire2333.com/landpages/qyjh5/template/2002/img/5.jpg*/, 'img/6.jpg'/*tpa=http://cdn-huoshu.fire2333.com/landpages/qyjh5/template/2002/img/6.jpg*/, 'img/7.jpg'/*tpa=http://cdn-huoshu.fire2333.com/landpages/qyjh5/template/2002/img/7.jpg*/];

		var modeltype = navigator.userAgent;
		console.log(modeltype);
		if (modeltype.indexOf("Android") > 0 || modeltype.indexOf("iPhone") > 0 || modeltype.indexOf("iPad") > 0) {
			console.log("44422");
			if (screen.height > 800 && screen.width < 500){
				$(".alert_div").css("height","40%");
			} else if(modeltype.indexOf("iPad") > 0){
				$(".alert_div").css("height","63%");
			}
			if(isDetainment == 1){
				pushHistory();
				window.addEventListener("popstate", function(e) {
					$(".alert_div").show();
					$("body").css({"height":"100%","overflow":"hidden"});
					$("#mydiv").css({"-webkit-filter":"brightness(50%)","filter":"brightness(50%)"})
				}, false);
				function pushHistory() {
					var state = {
						title: "title",
						url: "#"
					};
					window.history.pushState(state, "title", "#");
				}
			}
		}
		function isWeiXin(){
			var ua = navigator.userAgent.toLowerCase();
			console.log("isweixin");
			if(ua.match(/MicroMessenger/i)=="micromessenger" || ua.indexOf('qq')>-1) {
				$(".download_img").on("touchstart",function(){
					receiveImg();
				});
			}else{
				$(".download_img").click(function(){
					receiveImg();
				});
			}
		}
		$(document).ready(function () {
			postData('http://www.fire2333.com/logapi/LogLandpages.php', 'logLandingPage');
			//setTimeout('downloadApk()',3000);
			init();
			isWeiXin();
		});
		window.onload = function(){
			var height =$("#img_1").height();
			$("#img_2").css("margin-top",height+1);
		};
		function receiveImg(){
			$(".alert_div").hide();
			$("#mydiv").css({"-webkit-filter":"brightness(100%)","filter":"brightness(100%)"})
			$("body").css({"height":"100%","overflow":"initial"});
			window.location = "http://cdn-huoshu.fire2333.com/mc/apks/200042/qyj-213311043.180920.apk";
		}


		function init()
		{
		    for(var index in imageSrcArray){
                var img = "<img id='img_" + (parseInt(index)+1) + "' class='myimg' src='" + imageSrcArray[index] + "?v=1000000017'>";
                $("#mydiv").append(img);
            }
            $("#mydiv").append("<img id='img_footer' class='myimg' src='../../../footer/icp/bjzn_tail.jpg'/*tpa=http://cdn-huoshu.fire2333.com/landpages/footer/icp/bjzn_tail.jpg*//>");
            
            for (var index in hrefArray){
                $("#img_" + hrefArray[index]).wrap("<a class='mya'></a>");            
            }
			for (var index in downloadArray){
				var Arrayindex = downloadArray[index];
				$(".mya").eq(Arrayindex).attr('href', "http://cdn-huoshu.fire2333.com/mc/apks/200042/qyj-213311043.180920.apk");
				$(".mya").eq(Arrayindex).click(function(){
					postData('http://www.fire2333.com/logapi/LogLandpages.php', 'logClickDownload');
				});
			}
             $("#img_1").addClass("myfixtop");   
//             $("#img_2").addClass("mymargin");
		}
		
	    function getUrlParam(name) {
	        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
	        var r = window.location.search.substr(1).match(reg);
	        if (r != null) return unescape(r[2]); return null;
	    }
	    
	    function postData(postUrl, action){
	    	$.ajax({
	            url: postUrl,
	            type: 'post',
	            data: {
					action: action,
	                game_id: gameId,
	                landingpage_id: landingPageId,
	                from_type : fromType,
					footer_id : "22",
					apk_id : "11043"
	            },
	            dataType: 'json',
	            timeout: 10000,
	            success: function (result) {
	                
	            }
        	});
	    }
	    
	    function downloadApk(){
	        window.location = "http://cdn-huoshu.fire2333.com/mc/apks/200042/qyj-213311043.180920.apk";
			postData('http://www.fire2333.com/logapi/LogLandpages.php', 'logClickDownload');
		}

	</script>
</html>
